@use '../shared/common';
@use '../shared/consts';
@use '../shared/animations';

:host {
	flex-grow: 1;
	position: relative;

	.page {
		&.new {
			animation: 500ms animations.$first-navigation-animation new;
		}

		&.old {
			animation: 500ms animations.$first-navigation-animation old;
		}
		&.first {
			position: relative;
			@include animations.slideInFromBottom(animations.$first-navigation-params);
		}
	}
}

@keyframes new {
	0% {
		position: absolute;
		inset: 0;
		transform: scale(0.95) translateY(100px);
		opacity: 0.1;
	}
	80% {
		transform: scale(1) translateY(0);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
		position: relative;
	}
}

@keyframes new {
	0% {
		position: absolute;
		opacity: 1;
		transform: translateY(0);
		display: block;
	}
	100% {
		opacity: 0;
		transform: translateY(100px);
		display: none;
	}
}
