// Colors imported as constants from Webpack

$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$fira-code: 'Fira Code', monospace;

$button-height-smaller: 20px;
$button-height-small: 28px;
$button-height: 34px;
$button-height-large: 38px;

$border-radius: 4px;
$tile-border-radius: 15px;

$transition-length: 200ms;

$panel-spacing: 12px; // Spacing between panels containing data
$tile-spacing: 18px; // Spacing between individual tiles of data within a panel

$media-larger: 1600px;
$media-largish: 1400px;
$media-large: 1200px;
$media-medium: 900px;
$media-small: 768px;

$game-banner-height: 340px;
$profile-banner-height: 300px;
$sidebar-width: 360px;
$right-sidebar-width: 320px;
$feed-closed-width: 175px;
$feed-open-width: 245px;
$mobile-navbar-height: 50px;
$bottom-bar-height: 64px;
$identity-status-height: 67px;

$avatar-background: #38a938;
$avatar-background-light: rgba(0, 0, 0, 0.1);
$overlay-bg: rgba(0, 0, 0, 0.5);

$mobile-width-threshold: 640px; // Also update in ui-root and 404.hbs
$mobile-width-threshold-small: 640px;
$mobile-width-threshold-medium: 1024px;
$mobile-width-threshold-large: 1280px;

$static-banner-height: 345px;
$static-banner-height-small: 240px;

$social-color: #ffce4f;
$services-color: #57c3f8;
$deliver-color: #c8aff9;

// Got from the service icons
$social-color-dark: #f4c448;
$services-color-dark: #419bf8;
$deliver-color-dark: #9f92f0;

// animations
$animation-timing-juicy: cubic-bezier(0.27, 1.37, 0.87, 1);
