@use 'sass:list';
@use 'sass:meta';
@use 'sass:math';

@mixin enable-user-select() {
	-webkit-user-select: text;
	user-select: text;
	cursor: initial;
}

// Based on https://kovart.github.io/dashed-border-generator/
@function dashed-border(
	$color,
	$border-radius,
	$stroke-width: 2px,
	$dash-array: 2 7,
	$dash-offset: 0,
	$linecap: square
) {
	$dash-array: to-string($dash-array, '%2c');
	$border-radius: strip-unit($border-radius);
	$stroke-width: strip-unit($stroke-width) * 2;
	$dash-offset: strip-unit($dash-offset);

	@return url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='#{$border-radius}' ry='#{$border-radius}' stroke='#{$color}' stroke-width='#{$stroke-width}' stroke-dasharray='#{$dash-array}' stroke-dashoffset='#{$dash-offset}' stroke-linecap='#{$linecap}'/%3e%3c/svg%3e");
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
	@if meta.type-of($number) == 'number' and not math.is-unitless($number) {
		@return math.div($number, ($number * 0 + 1));
	}

	@return $number;
}

/// Converts a list into a string
/// @param {List} $list - Input list
/// @param {String} $glue - Separator
/// @param {String} $is-nested - Whether or not the current list is nested. Should not be manually set
/// @return {String} - Output string
@function to-string($list, $glue: '', $is-nested: false) {
	$result: null;

	@for $i from 1 through list.length($list) {
		$e: list.nth($list, $i);

		@if meta.type-of($e) == list {
			$result: $result#{to-string($e, $glue, true)};
		} @else {
			$result: if($i != list.length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
		}
	}

	@return $result;
}
