@use '../../shared/common';
@use '../../shared/utils';
@use '../../shared/consts';

#base {
	padding: 0px 12px 12px;

	page-header {
		--icon-fill: #ff4a4b;
	}

	#body {
		display: flex;
		flex-direction: column;

		#link-area {
			display: flex;
			flex-direction: row;
			align-items: center;

			drop-down-list {
				margin-right: 15px;
			}

			loading-wheel {
				margin-left: 15px;
				--size: 24px;
			}
		}

		h2 {
			margin: 0 0 5px 0;
			color: #ececec;

			e-svg {
				width: 1.1em;
				height: 1.1em;
				margin-right: 0.3em;
				vertical-align: -0.2em;
			}
		}

		p {
			margin: 0 0 20px 0;
			font-weight: 600;
			color: #ececec;
		}
	}
}

#create-game-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;

			h2 {
				margin: 14px 0 2px 0;

				font-size: 10px;
				font-weight: bold;
				font-family: consts.$open-sans;
				text-transform: uppercase;
			}

			#create-group-error,
			#create-game-error {
				max-width: 210px;
				margin-top: 7px;
				padding: 0 4px;

				color: red;
				font-size: 10px;
				font-family: consts.$open-sans;
				font-weight: bolder;

				e-svg {
					--fill: red;
					width: 1.4em;
					height: 1.4em;
					vertical-align: -3px;
					margin-right: 2px;
				}
			}
		}

		stylized-button {
			margin-top: 8px;
			width: 100%;
			max-width: 200px;
			--padding: 0 35px;
		}

		drop-down-list {
			--max-height: 58px;
		}

		p.content {
			margin: 12px 0 7px 0;
			max-width: 200px;
			font-size: 12px;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.8);
		}
	}
}
