@use '../../shared/common';
@use '../../shared/consts';

loading-wheel {
	height: 100vh;
	display: block;
}

h-tab-layout {
	#tabs {
		$header-height: 56px;

		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 247px;
		padding-left: 12px;
		padding-right: 12px;
		box-sizing: border-box;
		padding-top: $header-height;
		max-height: calc(100vh);
		z-index: 2;
		overflow-y: auto;
		flex: 0 0 235px;
	}

	#body {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 247px;

		#centered-body {
			width: 100%;
			max-width: 650px;
			margin-bottom: 25px;

			&.wide {
				max-width: 800px;
			}

			&.free {
				max-width: unset;
			}

			page-header {
				--icon-fill: #ececec;
			}

			#namespace-select-area {
				display: flex;
				flex-direction: column;
				margin-left: 20px;
				align-items: flex-end;

				h3 {
					width: 100%;
					margin: 0 0 2px 0;
					font-size: 12px;
					color: #ececec80;
					text-transform: uppercase;
				}
			}
		}
	}
}

#placeholder {
	display: flex;
	flex-direction: row;

	loading-placeholder {
		--border-radius: 3px;
	}

	#placeholder-sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 110px 0 0 12px;

		.placeholder-logo {
			width: 120px;
			height: 60px;

			margin-bottom: 16px;
		}

		.placeholder-rack {
			width: 235px;
			height: 35px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		.placeholder-subtitle {
			width: 100%;

			loading-placeholder {
				width: 130px;
				height: 12px;

				margin: 4px 0 7px 0;
			}
		}
	}

	#placeholder-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;

		#placeholder-centered-body {
			width: 100%;
			max-width: 650px;
			margin-bottom: 25px;

			.placeholder-page-header {
				width: 100%;
				max-width: 300px;
				height: 55px;
				margin: 45px 0 40px 0;
			}

			.placeholder-group {
				width: 100%;
				max-width: 650px;
				height: 70px;
				margin-bottom: 20px;
			}

			.placeholder-text {
				display: inline-block;
				width: 200px;
				height: 32px;

				&:not(:last-child) {
					margin-right: 24px;
				}

				&.small {
					width: 100px;
				}
			}
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		padding: 12px 18px 14px 18px;
		display: flex;
		flex-direction: column;
		align-items: center;

		#tabs {
			max-width: 400px;
			width: 100%;
		}

		#body {
			width: 100%;
		}
	}
}
