@use '../../shared/common';
@use '../../shared/consts';

#base {
	h1 {
		max-width: 600px;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 18px;
	}

	#subtitle-area {
		margin: -38px 0 30px 0;

		#duplicate-button {
			--padding: 0 15px 0 12px;
			--icon-margin: 0 4px 0 0;
			--text-transform: none;
		}

		#date {
			margin: 0 0 12px 0;
			font-size: 14px;

			date-display {
				font-weight: 600;
			}
		}
	}

	#namespaces {
		max-width: 380px;
		margin-bottom: 20px;

		#deploy-namespace {
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			background: $raised-bg;
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
			border-radius: 6px;
			padding: 7px 7px 7px 17px;
			margin-bottom: 24px;
			width: 100%;

			h2 {
				margin: 0;
				font-size: 16px;
			}

			drop-down-list {
				margin-left: 12px;
				--bg-color: #3a3a3a;
				--highlight-color: #3f3f3f;
			}
		}

		.namespace {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 11px 17px;
			margin-bottom: 12px;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 4px;
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);

			transition: transform consts.$transition-length, background-color consts.$transition-length;

			&:hover {
				transform: translateY(-1px);
				background-color: rgba(255, 255, 255, 0.17);
			}

			&:last-child {
				margin-bottom: 0;
			}

			@include common.active-state();

			h3 {
				display: -webkit-box;
				flex: 1 1 auto;
				color: #ececec;
				font-size: 16px;
				margin: 0;

				line-break: anywhere;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			e-svg {
				flex: 0 0 auto;
			}
		}
	}
}

#placeholder {
	display: flex;
	flex-direction: column;

	loading-placeholder {
		--border-radius: 3px;
		max-width: 100%;
	}

	#placeholder-subtitle-area {
		margin: -38px 0 34px 0;

		#placeholder-date {
			margin-bottom: 12px;
			width: 190px;
			height: 19px;
		}

		#placeholder-duplicate {
			width: 80px;
			height: 32px;
		}
	}

	.placeholder-subtitle {
		width: 120px;
		height: 34px;
		margin-bottom: 20px;
	}

	#placeholder-namespaces {
		margin-bottom: 44px;

		loading-placeholder {
			width: 380px;
			height: 45px;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}

	.placeholder-service {
		width: 100%;
		height: 72px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		#duplicate-button {
			margin-top: 0;
		}
	}

	#placeholder {
		#placeholder-duplicate {
			margin-top: 0;
		}
	}
}
