@use '../shared/common';
@use '../shared/consts';

$avatar-size: 30px;

@keyframes loading-dot {
	0% {
		transform: translateY(0px);
	}
	45% {
		transform: translateY(-1.5px);
	}
	68% {
		transform: translateY(1.5px);
	}
	90% {
		transform: translateY(0px);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#chat-panel {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;

	& > loading-wheel {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#empty-chat {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		margin-top: 36px;

		h1 {
			background: $raised-bg;
			border-radius: 4px;
			padding: 5px 12px;

			color: #ececec;
			font-size: 14px;
			font-weight: 600;
		}
	}

	// TODO: Make the rendering of this not so janky
	#chat-contents-placeholder {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		// Subtracts chat input and typing status heights
		height: calc(100% - 96px - 7px);
		display: flex;
		flex-direction: column-reverse;
		min-height: 0;

		overflow-y: scroll;
		margin-bottom: 7px;
		padding-right: 4px;
		box-sizing: border-box;

		animation: fade-in 0.7s forwards;

		#chat-placeholder {
			.placeholder-message-group {
				display: flex;
				flex-direction: row;

				margin-bottom: 9px;

				&:last-child {
					margin-bottom: 0;
				}

				.placeholder-avatar-area {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;

					margin-right: 8px;

					loading-placeholder {
						width: $avatar-size;
						height: $avatar-size;
						--border-radius: 10px;
					}
				}

				.placeholder-message-area {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					min-width: 0;

					loading-placeholder {
						max-width: 100%;
						margin-bottom: 4px;
						--border-radius: 5px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	#chat-contents-holder {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column-reverse;

		overflow-y: scroll;
		margin-bottom: 7px;
		padding: 15px 4px 0 0;

		&.hidden {
			visibility: hidden;
		}

		#chat-contents {
		}
	}

	.chat-controls {
		$min-input-height: 40px;

		flex: 0 0 auto;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin: 12px 0;
		max-width: 100%;
		min-height: $min-input-height;
		box-sizing: border-box;

		.chat-and-inline {
			flex: 1 1 auto;
			position: relative;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;

			.position-above {
				position: relative;
				bottom: 10px;
				width: 100%;
				height: 0px; // Used to keep this aligned directly above the chat input while also changing size

				inline-emoji-picker {
					position: absolute;
					width: 100%;
					bottom: 0;
				}
			}

			.chat-input-holder {
				flex: 1 1 auto;
				box-sizing: border-box;

				background-color: $raised-bg;
				border-radius: 20px;
				box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.07);
				cursor: text;

				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;

				.chat-input {
					$line-height: 24px;

					display: block;
					width: 100%;
					box-sizing: border-box;
					min-height: 20px;
					height: 20px;
					max-height: 200px;
					margin: 10px 6px 10px 0;
					padding: 0 4px 0 20px;

					font-family: consts.$open-sans;
					font-size: 15px;
					line-height: 20px;

					border: none;
					outline: none;
					resize: none;
					overflow: auto;
					background: none;

					color: #dedddc;

					&::placeholder {
						color: $light-gray;
						opacity: 1;
						font-weight: 600;
					}

					&:disabled {
						opacity: 0.5;
					}
				}
			}
		}

		.actions {
			display: flex;
			flex-direction: row;
			align-items: center;

			margin-left: 10px;

			icon-button {
				background-color: $raised-bg;
				border-radius: 100%;
				--padding: 7px;
				--size: #{$min-input-height};
				transition: background-color consts.$transition-length;

				margin-right: 6px;

				&:last-child {
					margin-right: 0;
				}
			}

			.emoji-button {
				filter: grayscale(1);
				transition: opacity consts.$transition-length;
				--opacity: 0.55;

				&:hover {
					--opacity: 1;
				}
			}

			.party-button {
				--padding: 9px;
			}
		}
	}

	#status-bar {
		margin-bottom: 12px;
		min-height: 20px;
		color: #ffffffc0;
		font-size: 15px;

		&.hidden {
			display: none;
		}

		#loading-dot-holder {
			position: relative;
			display: inline-block;
			width: 27px;
			height: 6px;
			margin-right: 3px;
			vertical-align: 2px;
			font-size: 0;

			.loading-dot {
				position: relative;
				display: inline-block;
				width: 6px;
				height: 6px;
				margin-right: 3px;
				border-radius: 100%;
				background: #ffffff90;
				animation: loading-dot 1.5s infinite cubic-bezier(0.5, 0, 0.5, 1);
			}
			.loading-dot:nth-child(2) {
				animation-delay: 0.2s;
			}
			.loading-dot:nth-child(3) {
				animation-delay: 0.4s;
			}
		}
	}
}

// === TITLE CONTAINER ===
.title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin: 12px 0;

	.line {
		width: 100%;
		height: 3px;
		background: $gray;
	}

	.text {
		font-size: 14px;

		white-space: nowrap;
		margin: 0 12px;
	}
}

.duration-separator {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px 0 15px 0;

	.bar-left,
	.bar-right {
		flex: 1 1 auto;
		border-top: 1px solid $raised-bg;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	span {
		flex: 0 1 auto;
		text-align: center;
		margin: 0 12px;
		font-weight: 600;
		font-size: 14px;
		color: #ececec80;
	}
}

.message-group {
	display: flex;
	flex-direction: row;

	margin-bottom: 9px;

	&:last-child {
		margin-bottom: 0;
	}

	.avatar-area {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		margin-right: 8px;

		.message-avatar {
			flex: 0 0 $avatar-size;
			width: $avatar-size;
			height: $avatar-size;
		}
	}

	.message-area {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 600px;

		.message {
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// === MESSAGE ===
.message {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	overflow-anchor: none;
	box-sizing: border-box;

	color: #dedddc;

	&.identity {
		display: flex;
		flex-direction: column;

		background: rgba(255, 255, 255, 0.04);
		border-radius: 5px;
		padding: 7px 10px 6px 10px;

		&.me {
			background: $raised-bg;
		}

		&.first {
			padding-top: 5px;
		}

		&.unconfirmed {
			.message-embed {
				opacity: 0.5;
			}

			.message-text {
				--content-opacity: 0.5;
			}
		}

		.message-header {
			font-size: 15px;
			margin-bottom: 1px;

			.message-identity-name {
				font-weight: bold;
			}
		}

		.message-body {
			// Required to remove whitespace padding
			font-size: 0;

			// Zalgo
			overflow: hidden;

			flex-direction: column;
			min-width: max(100%, 60px);

			.message-text {
				display: inline-flex;
				overflow-wrap: anywhere;
				font-size: 15px;
			}

			.message-embed {
				margin: 10px 0 3px 0;
			}

			rich-text {
				width: 100%;
			}

			// NOTE: Message date is controlled by <rich-text>
		}
	}

	&.event {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;

		font-size: 15px;

		.event-text {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			padding: 5px 10px;
			// background: $raised-bg;
			// border-radius: 5px;
			text-align: center;
			box-sizing: border-box;

			.identity {
				display: inline-flex;
				flex-direction: row;
				align-items: center;
				margin-right: 5px;
				vertical-align: -7px;

				identity-avatar {
					width: 22px;
					height: 22px;
					margin: 2px 7px 0 0;
				}
			}

			stylized-button {
				display: inline-block;
				margin: 4px 8px;
			}

			.party-invite {
				display: flex;
				flex-direction: row;
				align-items: center;

				.identity {
					margin-left: 8px;
				}
			}

			.party-join-request {
				display: flex;
				flex-direction: row;
				align-items: center;

				.identity {
					margin-right: 7px;

					&:not(:first-child) {
						margin-left: 7px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#chat-panel {
		#chat-contents-placeholder {
			height: calc(100% - 64px - 7px);
		}

		.chat-controls {
			margin: 0 0 18px 0;
		}

		#status-bar {
			margin: 0 0 8px 0;
			padding: 0 15px;
		}
	}
}
