@use '../shared/common';
@use '../shared/consts';

#base {
	width: 100%;

	file-uploader {
		#input-title {
			margin: 0;
			font-size: 16px;
			color: rgba(255, 255, 255, 0.8);
		}

		#input-subtitle {
			margin: 0;
			font-size: 10px;
			font-weight: 600;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	h2 {
		margin: 24px 0 8px 0;
		font-size: 16px;
	}

	&.selectable {
		#entries {
			.entry {
				cursor: pointer;
				padding: 10px 16px 10px 10px;

				transition: transform consts.$transition-length, background-color consts.$transition-length;
				box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

				&:hover {
					transform: translateY(-1px);
					background-color: rgba(255, 255, 255, 0.12);
				}

				&.selected {
					background: rgba(255, 255, 255, 0.15);
				}

				@include common.active-state();
			}
		}
	}

	#entries {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin: -6px;

		&.no-header {
			margin-top: 18px;
		}

		.entry {
			flex: 1 1 calc(50% - 12px);
			display: flex;
			flex-direction: column;
			max-width: calc(50% - 12px);
			box-sizing: border-box;
			padding: 10px 16px;
			background: rgba(255, 255, 255, 0.1);
			margin: 6px;
			border-radius: 4px;
			// box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
			color: #ececece6;

			&.selected {
				color: #ececec;
			}

			&.disabled {
				pointer-events: none;
				opacity: 0.85;
			}

			check-box {
				margin: 3px 13px 0 3px;
			}

			.entry-content {
				display: flex;
				flex-direction: row;

				.entry-info {
					display: flex;
					flex-direction: column;
					width: 100%;
					overflow: hidden;

					.entry-header {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;

						font-weight: 600;

						.entry-title {
							display: flex;
							flex-direction: row;
							align-items: center;

							overflow: hidden;

							e-svg {
								width: 14px;
								height: 14px;
								margin-right: 7px;
								--fill: currentcolor;
							}

							h3 {
								flex: 1 1 auto;
								margin: 0;
								font-size: 16px;

								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}

						.entry-size {
							flex: 0 0 auto;
							font-size: 13px;
							margin-left: 18px;
						}
					}

					.entry-timestamp {
						margin: 0;
						font-size: 12px;
						font-weight: 600;
						opacity: 0.8;
					}
				}
			}

			.entry-thumbnail {
				flex: 1 1 auto;
				margin-top: 15px;
				width: 100%;
				height: 120px;
			}
		}
	}
}
