@use 'sass:color';
@use '../shared/common';
@use '../shared/consts';

#base {
	position: relative;
	overflow-x: hidden;

	#item-container {
		width: min-content;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;

		transition: consts.$transition-length transform;

		&.no-animation {
			transition: none;
		}

		#see-more-button {
			$height: 50px;

			height: $height;
			padding: 0 18px;
			margin-left: 12px;
			background: rgba(0, 0, 0, 0.5);

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			color: white;
			font-size: 12px;
			border-radius: $height * 0.5;
			cursor: pointer;
			transition:
				consts.$transition-length transform,
				consts.$transition-length background,
				consts.$transition-length color;

			@include common.small-header();

			e-svg {
				--fill: white;
				margin-left: 6px;
			}

			&:hover {
				color: black;
				background: white;
				transform: scale(1.1);

				e-svg {
					--fill: black;
				}
			}
		}
	}

	&.padding #item-container {
		&:before,
		&:after {
			content: '';
			width: consts.$panel-spacing;
		}
	}

	.scroll-button {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 130px;
		opacity: 0;

		cursor: pointer;
		background: linear-gradient(to left, color.adjust($base-bg, $alpha: -1), $base-bg);
		transition: consts.$transition-length opacity;

		&:hover {
			opacity: 1;
		}

		e-svg {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 38px;
			height: 38px;
			transform-origin: center;
			transform: translate(-50%, -50%) rotate(-90deg) scale(0);

			transition: consts.$transition-length transform;
		}

		&:hover {
			e-svg {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}

		&#left-button {
			left: 0;
		}

		&#right-button {
			transform: scaleX(-1);
			right: 0;
		}
	}
}
