@use '../shared/common';
@use '../shared/consts';

:host {
	display: inline-block;
}

.icon-button {
	$box-sizing: var(--box-sizing, border-box);
	$size: var(--size);
	$padding: var(--padding, 4px);
	$icon-size: calc(#{$size} - #{$padding} * 2);
	$color: var(--color, #737373);
	$background-color: var(--background-color);
	$active-background-color: var(--active-background-color);
	$box-shadow: var(--box-shadow);
	$border-radius: var(--border-radius);
	$highlight-color: var(--highlight-color, white);
	$transition: var(--transition, background-color #{consts.$transition-length});

	&.smaller {
		--size: #{consts.$button-height-smaller};
	}

	&.small {
		--size: #{consts.$button-height-small};
	}

	&.medium {
		--size: #{consts.$button-height};
	}

	&.large {
		--size: #{consts.$button-height-large};
	}

	box-sizing: $box-sizing;
	position: relative;
	width: $size;
	height: $size;
	padding: var(--full-padding, #{$padding});

	background-color: $background-color;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	transition: $transition;

	display: block;

	cursor: pointer;

	e-svg {
		display: block; // To prevent extra spacing
		width: $icon-size;
		height: $icon-size;
		opacity: var(--opacity);

		transition: opacity consts.$transition-length;

		--fill: #{$color};
	}

	.badge {
		$height: 18px;

		box-sizing: border-box;
		position: absolute;
		top: -$height * 0.5;
		right: -$height * 0.5;
		padding: 0 4px;
		min-width: $height;

		text-align: center;
		font-size: 10px;
		line-height: $height;

		color: white;
		background: $red;
		border-radius: $height * 0.5;
	}

	// Hover
	&:hover {
		color: $highlight-color;
		background-color: $active-background-color;

		e-svg {
			--fill: #{$highlight-color};
		}
	}

	@include common.active-state;

	// Disabled state
	&.disabled,
	&.loading {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	// Image state
	&:not(:hover) {
		& > .hov {
			display: none;
		}
	}

	&:hover {
		& > .reg {
			display: none;
		}
	}
}
