:host {
	display: block;
}

#base {
	width: 100%;
	height: 100%;

	background-position: var(--background-position, center);
	background-size: var(--background-size, cover);
	background-attachment: var(--background-attachment);
	background-repeat: no-repeat;
}
