@use '../shared/common';

@keyframes fade-in {
	0% {
		opacity: 0;
		animation-timing-function: ease-out;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin-animation {
	0% {
		transform: rotate(0);
		// animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		animation-timing-function: ease-out;
	}

	50% {
		transform: rotate(360deg);
		// animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		animation-timing-function: ease-in;
	}

	100% {
		transform: rotate(720deg);
	}
}

#base {
	$color: var(--color, #ecececcc);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	height: 100%;

	&.small {
		padding: 0;

		#wheel {
			width: 30px;
			height: 30px;
		}

		& > h1 {
			display: none;
		}
	}

	&.custom {
		padding: 0;

		#wheel {
			width: var(--size);
			height: var(--size);
		}

		& > h1 {
			display: none;
		}
	}

	&.inline {
		padding: 0;
	}

	&.no-fade {
		#wheel {
			animation: 2.4s infinite -1.2s spin-animation;
		}
	}

	#wheel {
		width: 65px;
		height: 65px;
		--fill: #{$color};

		// animation: rotate 1.5s forwards infinite linear; // cubic-bezier(.55,-0.76,.43,1.68)
		animation: 2.4s infinite -1.2s spin-animation, 0.8s fade-in;
	}

	& > h1 {
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		color: $color;
		margin-top: 16px;
	}

	::slotted(*) {
	}
}
