@use '../shared/common';

#base {
	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		flex-direction: row;
		margin-bottom: 7px;

		loading-placeholder {
			height: var(--size, 20px);
			margin-right: 7px;
			--border-radius: 3px;

			&:last-child {
				margin: 0;
			}
		}

		&:nth-child(1) {
			loading-placeholder:nth-child(1) {
				width: 34%;
			}

			loading-placeholder:nth-child(2) {
				width: 20%;
			}

			loading-placeholder:nth-child(3) {
				width: 22%;
			}
		}

		&:nth-child(2) {
			loading-placeholder:nth-child(1) {
				width: 11%;
			}

			loading-placeholder:nth-child(2) {
				width: 79%;
			}
		}

		&:nth-child(3) {
			margin: 0;

			loading-placeholder:nth-child(1) {
				width: 29%;
			}

			loading-placeholder:nth-child(2) {
				width: 32%;
			}

			loading-placeholder:nth-child(3) {
				width: 8%;
			}
		}
	}
}
