@use '../shared/common';
@use '../shared/consts';

:host {
	display: block;
}

[name='label']::slotted(*) {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #a6a6a6;
	vertical-align: middle;
	font-family: consts.$open-sans;
	margin-right: 10px;
}

#search-box {
	position: relative;
	width: 240px;
	height: 28px;
	display: inline-flex;
	flex-direction: column;

	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	background-color: #313131;
	border-radius: 14px;

	transition: background-color consts.$transition-length, border-radius consts.$transition-length * 0.5;

	&.active {
		background-color: #4d4d4d;
		border-radius: 4px 4px 0 0;
	}

	#options {
		position: absolute;
		top: 28px;
		width: 100%;
		max-height: 300px;
		box-sizing: border-box;
		border-radius: 0 0 4px 4px;
		padding: 0 3px;
		overflow: hidden auto;
		background-color: #313131;
		border-bottom: 3px solid #313131;
		border-top: 3px solid #313131;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

		display: flex;
		flex-direction: column;
		z-index: 1;

		font-size: 14px;
		color: #aaaaaa;
		text-align: center;
		line-height: 40px;

		.option {
			box-sizing: border-box;
			padding: 4px 9px;
			font-size: 14px;
			line-height: normal;
			color: #e9e9e9;
			background-color: rgba(255, 255, 255, 0.12);
			border-radius: 4px;
			margin-bottom: 3px;
			text-align: left;
			cursor: pointer;

			&.selected {
				background-color: rgba(255, 255, 255, 0.2);
			}

			&:hover {
				background-color: rgba(255, 255, 255, 0.24);
			}
		}
	}

	[name='icon']::slotted(*) {
		margin: 0 3px 0 8px;
		vertical-align: -5px;
		--fill: #cccccc;
	}

	// TODO: Move this style to abstract it
	::slotted(input) {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 11px 0 2px;
		box-sizing: border-box;

		background: none;
		outline: none;

		width: 205px;
		height: 28px;
		color: white;
		font-size: 13px;
		font-family: consts.$open-sans;
		font-weight: 600;
		border: none;
		transition: background-color consts.$transition-length, border-radius consts.$transition-length * 0.5;

		&::placeholder {
			font-weight: bold;
		}
	}
}

#selected-options {
	vertical-align: top;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 3px;
	height: 28px;

	.option {
		box-sizing: border-box;
		padding: 4px 6px 4px 9px;
		font-size: 14px;
		color: #e9e9e9;
		background-color: rgba(255, 255, 255, 0.12);
		border-radius: 30px;
		margin: 0 5px 0 0;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 255, 255, 0.18);
		}

		e-svg {
			width: 1.1em;
			height: 1.1em;
			margin: 0 2px 0 5px;
			vertical-align: -3px;
		}
	}
}
