@use '../shared/common';
@use '../shared/utils';

#base {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 500px;
	min-width: 250px;

	#gutter {
		flex: 0 0 auto;
		background-color: #353535;
		border-radius: 4px;
		width: 4px;
	}

	#content {
		padding: 5px 11px 8px 8px;
		flex: 1 1 auto;

		#title {
			color: #5194f9;
			font-size: 14px;
			font-weight: 600;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		#description {
			font-size: 13px;
			color: #e7e7e7;
			margin: 4px 0 0 0;
			line-height: 1.4em;
		}

		#thumbnail {
			margin: 15px 0 0 0;
			max-width: 100%;
			height: 100px; // Also update in rich-embed
			border-radius: 5px;
			overflow: hidden;
		}

		@include utils.enable-user-select();
	}
}
