@use '../shared/common';
@use '../shared/utils';
@use '../shared/consts';

// Inherit common text styling properties from parent
:host {
	font-size: 14px;
	font-family: consts.$open-sans;
	font-weight: 500;
	text-align: left;
	// overflow-wrap: break-word;

	@include utils.enable-user-select();
}

// TODO: fix vertical align issues with this element (see positioning in main sidebar with dev tools)

#base {
	width: 100%;

	// Used by the main sidebar to change styling
	&.inline {
		.block-quote {
			& + .block-quote {
				margin-top: 0;
			}

			.block-quote-content {
				padding: 0 0 0 6px;

				// Makes quote blocks wrap text to a maximum of one line
				@include common.multi-line-wrap(1);
			}
		}
	}

	span {
		display: inline;
		white-space: pre-wrap;
		opacity: var(--content-opacity, 1); // Direct pass through to alter content opacity
	}

	.text-date {
		float: right;
		position: relative;
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;

		bottom: -2px;
		margin-left: 10px;

		height: 20px;

		font-size: 11px;
		font-weight: 600;
		color: $light-gray;
	}
}

a {
	color: $blue;
}

.block-quote {
	display: inline-flex;
	width: 100%;
	min-height: 22px;

	& + .block-quote {
		margin-top: 1px;
	}

	.block-quote-border {
		flex: 0 0 auto;
		background-color: $light-gray;
		width: 3px;
		border-radius: 2px;
	}

	.block-quote-content {
		padding: 0 0 2px 10px;
		display: flex;
		flex-direction: column;
		opacity: 0.8;

		.block-quote-header {
			color: $light-gray;
			font-size: 0.9em;
			font-weight: 700;
			margin-bottom: 3px;
		}

		blockquote {
			margin: 0;
		}
	}
}

.rich-item {
	padding: 8px;

	background-color: $raised-bg;

	&:not(:first-child) {
		margin-top: 4px;
	}

	.rich-image {
		width: 100%;
		max-width: 250px;
		height: 100px;
		margin: 8px auto;
	}

	.rich-title {
		font-weight: bold;
	}

	.rich-actions {
		display: flex;
		flex-direction: row;

		margin-top: 4px;

		& > *:not(:first-child) {
			margin-left: 4px;
		}
	}
}
