@use '../shared/common';
@use '../shared/consts';

#base {
	position: relative;
	width: 44px;
	height: 24px;
	border-radius: 20px;

	background-color: #a3a3a3;
	border: 1px solid #00000010;
	box-sizing: border-box;
	cursor: pointer;

	transition: background-color consts.$transition-length;

	#knob {
		position: absolute;
		top: 1px;
		left: 1px;
		width: 20px;
		height: 20px;
		border-radius: 100%;

		background-color: #e7e7e7;
		border: 1px solid #00000010;
		box-shadow: 0 1px 2px #00000010;
		box-sizing: border-box;

		transition: transform consts.$transition-length;
	}

	&.disabled {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	&.active {
		background-color: var(--color, #59be57);

		#knob {
			transform: translateX(20px);
		}
	}
}
