@use '../shared/common';
@use '../shared/consts';

#base {
	width: 100%;
	padding: consts.$panel-spacing;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	[name='left-column']::slotted(*) {
		flex: 0 1 66%;
		margin-right: consts.$panel-spacing;
	}

	[name='right-column']::slotted(*) {
		flex: 0 1 34%;
		max-width: 400px;
	}

	[name='left-column']::slotted(*),
	[name='right-column']::slotted(*) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
}
