@use '../shared/common';
@use '../shared/consts';

:host {
	max-width: 100%;
}

#base {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 60px 0 40px 0;

	::slotted(e-svg) {
		flex: 0 0 auto;
		margin: 0 0.35em 0 00;
		font-size: 44px;
		--fill: theme('colors.main-accent');
	}

	::slotted(h1) {
		flex: 1 1 auto;
		display: inline-block;
		margin: 0;
		font-size: 44px;
		font-weight: 800;
		font-family: consts.$open-sans;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		&:not(.on-mobile) {
			display: none;
		}

		&.on-mobile {
			margin: 15px 0 30px 0;

			::slotted(h1) {
				font-size: 22px;
			}
		}
	}
}
