@use '../shared/common';
@use '../shared/consts';

#base {
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;

	[name='body']::slotted(*) {
		flex: 1 1 auto;
		min-width: 0;
	}

	[name='sidebar']::slotted(*) {
		width: consts.$right-sidebar-width;
		box-sizing: border-box;
	}
}
