@use '../shared/common';
@use '../shared/consts';

#base {
	.muted {
		font-size: 14px;
		opacity: 0.5;
		font-family: consts.$open-sans;
		margin: 0;
	}

	#bio {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.5em;

		#bio-text {
			white-space: pre-line;

			// Zalgo
			overflow: hidden;
		}

		.muted {
			opacity: 0.5;
			font-style: italic;
		}
	}

	#actions {
		stylized-button {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		#transfer-ownership {
			&:hover {
				--bg-color: #d4393b;
			}
		}
	}

	#members {
		identity-tile {
			display: block;
			margin-bottom: 2px;

			e-svg {
				width: 15px;
				height: 15px;

				&.owner {
					--fill: #ffb600;
				}

				&.admin {
					--fill: #ececec;
				}
			}
		}
	}

	#join-requests {
		.join-request-actions {
			padding-right: 7px;

			icon-button {
				margin-right: 3px;
				border-radius: 100%;
				transition: background-color consts.$transition-length;
				--size: 23px;

				&:hover {
					background-color: $raised-bg;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	#bans {
		.ban-actions {
			padding-right: 7px;

			icon-button {
				margin-right: 3px;
				border-radius: 100%;
				transition: background-color consts.$transition-length;
				--size: 23px;

				&:hover {
					background-color: $raised-bg;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	#member-count {
		// opacity: 0.5;
	}
}
