@use '../../shared/consts';
@use '../../shared/common';
@use '../../shared/utils';
@use './version-common';

@include version-common.service-card($raised-bg);

#scroll-area {
	max-height: 300px;
	padding: 0 12px 8px 12px;
	margin-bottom: 4px;
	overflow-y: auto;
}

#custom-header-errors {
	margin-bottom: 12px;
}

#custom-headers + .large-create {
	margin-top: 25px;
}

.custom-header {
	margin-bottom: 12px;
	display: block;

	&:last-child {
		margin-bottom: 0;
	}
}

.large-create {
	$border-width: 3px;
	$border-radius: 10px;

	overflow: hidden;
	display: block;
	position: relative;
	padding: $border-width;
	border-radius: $border-radius;
	margin: 0;
	width: 100%;
	cursor: pointer;

	background-image: utils.dashed-border(
		rgba(255, 255, 255, 0.12),
		$border-radius,
		$border-width,
		$dash-array: (5, 15)
	);

	&:hover {
		background-image: utils.dashed-border(
			rgba(255, 255, 255, 0.15),
			$border-radius,
			$border-width,
			$dash-array: (5, 15)
		);

		.large-create-content {
			background-color: rgba(255, 255, 255, 0.02);
		}
	}

	@include common.active-state();

	.large-create-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1;

		padding: 16px;
		box-sizing: border-box;
		height: 140px;
		border-radius: $border-radius - $border-width;

		font-size: 20px;
		font-weight: 600;
		color: rgba(255, 255, 255, 0.8);
		cursor: pointer;

		e-svg {
			width: 25px;
			height: 25px;
			margin: 0 0 10px 0;
		}
	}
}
