$input-length-short: 60px;
$input-length-medium: 120px;

// For some reason it needs a variable bypass
@mixin service-card($raised-bg) {
	service-card {
		z-index: 1;
		position: relative;
		display: block;

		.sub-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 12px;

			h3 {
				margin: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		h3:first-child {
			margin-top: 0;
		}

		h4 {
			margin-bottom: 8px;

			&:first-child {
				margin-top: 0;
			}
		}

		drop-down-list {
			--bg-color: #4a4a4a;
			--highlight-color: #515151;
			--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
		}

		.muted {
			margin: 0;
			color: #808080;
			font-size: 14px;
		}

		.immut-info {
			display: flex;
			align-items: center;
			flex-direction: row;
			margin: 0;
			font-size: 14px;
			background-color: $raised-bg;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			padding: 5px 11px;

			.left-icon {
				width: 16px;
				height: 16px;
				margin: 1px 7px 0 0;
			}

			&.short {
				max-width: $input-length-short;
			}

			&.medium {
				max-width: $input-length-medium;
			}
		}

		.column-split {
			display: flex;
			flex-direction: row;

			.column {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;

				padding-right: 15px;

				&:last-child {
					padding-right: 5px;
				}
			}
		}

		error-list {
			display: block;
			margin-bottom: 12px;
		}
	}
}
