@use '../../shared/common';
@use '../../shared/consts';

$input-length-short: 60px;
$input-length-medium: 250px;

#base {
	position: relative;
	border-radius: 10px;
	background-color: $raised-bg;
	box-sizing: border-box;
	padding: 16px 18px;

	#close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	error-list {
		display: block;
		margin-bottom: 12px;
	}

	// Donot overlap X button
	#close + error-list {
		max-width: calc(100% - 33px);
	}

	h4 {
		margin-bottom: 8px;
	}

	& > h4:first-of-type {
		margin-top: 4px;
	}

	h5 {
		text-transform: uppercase;
		font-size: 10px;
		margin-bottom: 3px;
	}

	text-input {
		display: block;

		&.short {
			max-width: $input-length-short;
		}

		&.medium {
			max-width: $input-length-medium;
		}
	}

	drop-down-list {
		--bg-color: #4a4a4a;
		--highlight-color: #515151;
		--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
	}

	.muted {
		margin: 6px 0 0 0;
		color: #808080;
		font-size: 14px;
	}

	.immut-info {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin: 0;
		font-size: 14px;
		background-color: $raised-bg;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		padding: 5px 11px;

		.left-icon {
			width: 16px;
			height: 16px;
			margin: 1px 7px 0 0;
		}

		&.short {
			max-width: $input-length-short;
		}

		&.medium {
			max-width: $input-length-medium;
		}
	}

	.row {
		display: flex;
		flex-direction: row;

		h5:first-child {
			margin-top: 0;
		}

		text-input {
			margin-right: 20px;
		}
	}

	.column-split {
		display: flex;
		flex-direction: row;

		.column {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;

			padding-right: 15px;
		}
	}

	.player-count,
	.idle-lobby-count {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		.immut-info {
			min-width: 25px;
			margin-right: 10px;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		max-height: 400px;
		overflow-y: auto;

		dashed-button {
			max-width: 200px;
		}

		error-list {
			margin-top: 6px;
			margin-bottom: 6px;
		}

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;

			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	#regions {
		padding: 10px 3px 3px 3px;
		margin: 0 -3px -3px -3px;
		max-height: 600px;

		.region {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 11px 15px 11px 13px;
			margin-bottom: 12px;
			background: rgba(255, 255, 255, 0.09);
			border-radius: 4px;

			transition: transform consts.$transition-length, background-color consts.$transition-length;

			&:not(.immut-info) {
				cursor: pointer;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

				&:hover {
					transform: translateY(-1px);
					background-color: rgba(255, 255, 255, 0.15);
				}

				&.selected {
					background: rgba(255, 255, 255, 0.15);

					h3 {
						color: #ececec;
					}
				}

				@include common.active-state();
			}

			&.immut-info {
				background: rgba(255, 255, 255, 0.12);

				.region-info {
					h3 {
						color: #ececec;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			.region-info {
				display: flex;
				flex-direction: row;
				align-items: center;

				h3 {
					display: -webkit-box;
					max-width: 160px;
					flex: 1 1 auto;
					color: #ecececcc;
					font-size: 15px;
					font-weight: 600;
					margin: 0;

					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					overflow-wrap: anywhere;
					text-overflow: ellipsis;
				}

				e-svg {
					margin-right: 12px;
					width: 22px;
					height: 22px;
				}
			}

			check-box {
				margin: 0 0 0 6px;
				display: inline-block;
			}
		}
	}
}
