@use '../../shared/common';

$input-length-short: 60px;
$input-length-medium: 250px;

#base {
	position: relative;
	border-radius: 10px;
	background-color: $raised-bg;
	box-sizing: border-box;
	padding: 16px 18px;

	#close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	error-list {
		display: block;
		margin-bottom: 12px;
	}

	// Do not overlap X button
	#close + error-list {
		max-width: calc(100% - 33px);
	}

	h4 {
		margin-bottom: 8px;
	}

	h5 {
		text-transform: uppercase;
		font-size: 10px;
		margin-bottom: 3px;
	}

	text-input {
		display: block;

		&.short {
			max-width: $input-length-short;
		}

		&.medium {
			max-width: $input-length-medium;
		}
	}

	.muted {
		margin: 6px 0 0 0;
		color: #808080;
		font-size: 14px;
	}

	.immut-info {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin: 0;
		font-size: 14px;
		background-color: $raised-bg;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		padding: 5px 11px;

		&.short {
			max-width: $input-length-short;
		}

		&.medium {
			max-width: $input-length-medium;
		}
	}

	.row {
		display: flex;
		flex-direction: row;

		.controller {
			&:not(:last-child) {
				margin-right: 20px;
			}

			h4 {
				margin-top: 0;
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		max-height: 400px;
		overflow-y: auto;

		dashed-button {
			max-width: 200px;
		}

		error-list {
			margin-top: 6px;
			margin-bottom: 6px;
		}

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;

			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.header span {
		margin: 0 7px;
	}
	#headers-list {
		dashed-button {
			max-width: 425px;
		}
	}
	#headers-list {
		padding: 2px 3px 3px 3px;
		margin: -2px -3px -3px -3px;
	}

	// Immutable items
	#headers-list .immut-info {
		overflow-wrap: anywhere;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	dashed-button {
		display: block;
		margin-top: 8px;
		--font-size: 13px;
		--height: 30px;

		&:first-child {
			margin-top: 3px;
		}

		&.short {
			max-width: $input-length-short * 2;
		}

		&.medium {
			max-width: $input-length-medium;
		}
	}
}
