@use '../shared/common';
@use '../shared/consts';

#base {
	display: flex;
	flex-direction: column;

	#actions {
		display: flex;
		flex-direction: column;

		stylized-button {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		.drop-down {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 2px 6px;

			font-size: 14px;
			font-weight: 700;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			drop-down-list {
				margin-left: 8px;
			}
		}

		#publicity {
			display: flex;
			flex-direction: column;
			background-color: $raised-bg;
			border-radius: 5px;
			padding: 9px 11px 8px 13px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			h2 {
				font-size: 14px;
				font-weight: 700;
				margin: 0 0 4px 0;
			}

			.drop-down {
				padding: 0;
				margin-left: 11px;

				font-weight: 600;

				&.disabled {
					opacity: 0.6;
					pointer-events: none;
				}

				drop-down-list {
					--bg-color: #3a3a3a;
					--highlight-color: #3f3f3f;
					// --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
				}
			}
		}

		#transfer-ownership {
			&:hover {
				--bg-color: #d4393b;
			}
		}
	}

	#members {
		display: flex;
		flex-direction: column;

		identity-tile {
			display: block;
			margin-bottom: 2px;

			e-svg {
				width: 15px;
				height: 15px;

				&.owner {
					--fill: #ffb600;
				}
			}
		}
	}

	#invites {
		display: flex;
		flex-direction: column;

		.invite {
			position: relative;
			transition: background-color consts.$transition-length;
			border-radius: 6px;
			min-height: 32px;
			padding: 6px 7px 6px 12px;
			cursor: pointer;
			overflow: hidden;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.info {
				display: flex;
				flex-direction: column;

				h2 {
					font-size: 16px;
					font-weight: 600;
					margin: 0;
					color: #ececec;
				}

				h3 {
					font-size: 14px;
					font-weight: 600;
					margin: -1px 0 0 0;
					color: #ececec80;
				}
			}

			.actions {
				display: flex;
				flex-direction: row;
				align-items: center;

				icon-button {
					--padding: 6px;

					:not(:last-child) {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

// Desktop only hover
@media (hover: hover) and (pointer: fine) {
	#base {
		#invites {
			.invite:hover {
				background-color: $raised-bg;
			}
		}
	}
}
