@use '../../shared/common';
@use '../../shared/consts';

#base {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding: 16px 25px 16px 21px;

	#left {
		display: flex;
		flex-direction: column;

		[name='header']::slotted(*) {
			margin: 0;
			font-weight: 600;
			font-size: 15px;
			color: #ececec;
		}

		[name='amount']::slotted(*) {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 40px;
		}

		[name='footer']::slotted(*) {
			margin: 0;
			font-size: 14px;
			font-weight: 600;
			opacity: 0.8;
		}
	}

	#right {
		display: flex;
		flex-direction: column;
		align-items: center;

		[name='actions']::slotted(*) {
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		padding: 10px 14px 10px 14px;

		#left {
			[name='header']::slotted(*) {
				font-size: 12px;
			}

			[name='amount']::slotted(*) {
				font-size: 35px;
			}

			[name='footer']::slotted(*) {
				font-size: 11px;
			}
		}
	}
}
