@use '../shared/common';
@use '../shared/consts';

#base {
	position: relative;
	transition: background-color consts.$transition-length;
	border-radius: 6px;
	min-height: 32px;
	padding: 5px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	align-items: center;

	&.offline-opacity {
		opacity: 0.7;
	}

	&.has-link {
		cursor: pointer;
	}

	&.light {
		#spaced {
			#content {
				identity-name {
					--color: #151515;
				}

				#activity {
					color: #1e1e1e;
				}
			}
		}
	}

	#link {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	identity-avatar {
		flex: 0 0 auto;
		position: relative;
		width: 32px;
		height: 32px;
		margin-right: 10px;
	}

	#spaced {
		flex: 1 1 auto;
		min-width: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		#content {
			min-width: 0;
			display: flex;
			flex-direction: column;
			padding-right: 10px;

			identity-name {
				display: flex;
				align-items: center;
				margin: 0;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;

				font-size: 14px;
				font-weight: var(--font-weight, 600);
			}

			#activity {
				color: #737373;
				font-size: 12px;
				font-weight: 600;
				margin: 0;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
			}
		}

		[name='right']::slotted(*) {
			position: relative;
			z-index: 2;

			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 10px;
			padding-right: 10px;
		}
	}
}

// Desktop only hover
@media (hover: hover) and (pointer: fine) {
	#base.has-link:hover {
		background-color: $raised-bg;

		&.light {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}
