@use '../shared/common';
@use '../shared/consts';

#base {
	display: flex;
	flex-direction: column;

	#actions {
		stylized-button {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	#activity {
		#status {
			--icon-color: #737373;
			--icon-margin: 1px 7px 0 0;
			--font-weight: 600;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&.online {
				--icon-color: #a3e35e;
			}

			&.away {
				--icon-color: #fcc419;
			}
		}

		.party {
			display: flex;
			flex-direction: column;
			background-color: $raised-bg;
			border-radius: 5px;
			padding: 8px;

			.info {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				&:not(:last-child) {
					margin-bottom: 8px;
				}

				.title {
					font-size: 14px;
					font-weight: 600;
					margin: 0 0 0 4px;
					color: #ececec;
				}

				.members {
					--size: 24px;
				}
			}

			.activity {
				border-radius: 4px;
			}
		}

		.activity {
			display: flex;
			flex-direction: column;
			background-color: $raised-bg;
			border-radius: 6px;
			padding: 6px 12px 6px 8px;
			overflow: hidden;

			.activity-content {
				display: flex;
				flex-direction: row;
				align-items: center;

				.activity-game-logo {
					width: 40px;
					height: 40px;
					margin-right: 10px;
				}

				.activity-description {
					flex: 1 1 auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					.activity-description-content {
						display: flex;
						flex-direction: column;

						h2 {
							font-size: 14px;
							font-weight: 600;
							margin: 0;
						}

						h3 {
							margin: 0;
							color: #e5e5e5aa;
							font-weight: 600;
							font-size: 12px;
						}
					}

					loading-wheel {
						margin-left: 12px;
						--size: 16px;
					}
				}
			}
		}
	}

	#about {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5em;

		#bio-text {
			white-space: pre-line;

			// Zalgo
			overflow: hidden;
		}

		.muted,
		.joined-timestamp {
			opacity: 0.5;
			font-style: italic;
		}
	}

	#beta-join-request {
		.join-request-actions {
			padding-right: 7px;

			icon-button {
				margin-right: 3px;
				border-radius: 100%;
				transition: background-color consts.$transition-length;
				--size: 23px;

				&:hover {
					background-color: $raised-bg;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	#groups {
		.group {
			display: block;
			--font-size: 14px;
			border-radius: 6px;
			transition: background-color consts.$transition-length;

			// &:hover {
			// 	background-color: $raised-bg;
			// }
		}
	}

	info-panel-body {
		font-size: 14px;

		& > p {
			font-size: 14px;
			margin: 0;
			opacity: 0.5;
		}
	}
}
