@use '../shared/common';
@use '../shared/consts';

:host {
	white-space: nowrap;
	min-width: 0; // Allows use in flexbox
}

.identity-name {
	display: inline-block;
	font-family: consts.$open-sans;
	vertical-align: var(--vertical-align, sub);
	max-width: 100%;

	overflow: var(--overflow, hidden);
	text-overflow: ellipsis;

	.verified,
	.unclaimed {
		width: 1em;
		height: 1em;
		margin-right: 0.2em;
		vertical-align: middle;

		display: inline-block;
	}

	.verified {
		--fill: #{$blue};
	}

	.unclaimed {
		--fill: #{$yellow};
	}

	.group-tag {
		position: relative;
		top: -1px; // Fix alignment
		padding: 0.15em 0.35em;
		margin-right: 0.25em;
		vertical-align: middle;

		font-weight: bold;
		font-size: 0.7em;

		color: white;
		background-color: $gray;
		transition: consts.$transition-length background-color;

		@include common.active-state;

		&:hover {
			background-color: $light-gray;
		}
	}

	// Override pointer events in case parent disables pointer eventes
	.verified,
	.unclaimed,
	.group-tag {
		pointer-events: auto;
	}

	.display-name {
		color: var(--color, #e6e6e6);
		font-weight: var(--font-weight, 600); // SemiBold

		input {
			min-width: 10px;
			background: none;
			border-radius: 7px;
			border: none;
			padding: 0.2em 0.3em 0.2em 0.4em;
			margin: -0.2em -0.3em -0.2em -0.4em; // Opposite of padding
			font-weight: inherit;
			display: inline-block;
			font-family: inherit;
			outline: none;
			color: inherit;
			font-size: inherit;
			transition: background-color consts.$transition-length, padding consts.$transition-length,
				margin consts.$transition-length;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
				margin-left: -0.1em;
				margin-right: -0.1em;
				padding: 0.2em 0.45em 0.2em 0.5em;
			}

			&:focus {
				background-color: rgba(255, 255, 255, 0.1);
				margin-left: -0.1em;
				margin-right: -0.1em;
				padding: 0.2em 0.45em 0.2em 0.5em;
			}
		}

		#hide {
			position: absolute;
			height: 0;
			overflow: hidden;
			white-space: pre;
		}

		.account-number {
			display: var(--number-display, block); // Strictly positions account number below name
			font-size: 10px;
			font-weight: var(--font-weight, normal); // SemiBold

			color: var(--number-color, #ffffff4a);
		}
	}
}
