@use '../shared/common';

$item-size: 44px;

#base {
	display: flex;
	flex-direction: row;

	.group-item {
		width: $item-size;
		height: $item-size;
		display: flex;
		justify-content: flex-start;

		cursor: pointer;

		emoji-item {
			width: $item-size;
			height: $item-size;
		}

		&:hover {
			background-color: $raised-bg;
			border-radius: 3px;
		}
	}
}
