@use '../shared/common';

#base {
	$font-size: 20px;
	$item-padding: 7px;
	$item-size: $font-size + $item-padding * 2;

	width: 100%;

	display: flex;
	flex-direction: column;

	padding: 12px 10px;
	box-sizing: border-box;

	background-color: $dark-gray;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

	#title {
		color: #ffffff40;
		font-size: 12px;
		margin-bottom: 3px;
		font-weight: 700;
		text-transform: uppercase;
	}

	#group-items {
		display: flex;
		flex-direction: column;

		.group-item {
			width: 100%;
			margin-top: 2px;
			height: $item-size;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			cursor: pointer;

			emoji-item {
				font-size: 0;
				width: $item-size;
				height: $item-size;
			}

			p {
				margin: 0;
				font-size: 14px;
			}

			&.selected {
				background-color: $raised-bg;
				border-radius: 3px;
			}
		}
	}
}
