@use '../shared/consts';

#base {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 350px;

	& > identity-notification:not(:first-child) {
		margin-top: 8px;
	}

	identity-notification {
		transition: opacity consts.$transition-length;
		opacity: 1;

		&.fading {
			opacity: 0;
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		width: 100vw;
		align-items: center;

		& > identity-notification {
			width: calc(100% - 15px);
			max-width: 400px;
		}
	}
}
