@use '../shared/utils';

#error {
	margin-top: 12px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	// text-shadow: 0 1px 12px rgba(0, 0, 0, 0.7);

	p {
		overflow-wrap: anywhere;
		text-align: center;
		padding: 20px;
		margin: -2px;

		@include utils.enable-user-select();

		b {
			margin: -1px 1px 0 0;
			text-align: center;
			text-transform: uppercase;
		}

		span {
		}
	}
}
