@use '../shared/common';
@use '../shared/consts';

#base {
	width: 100%;

	#banner {
		position: relative;
		width: 100%;
		height: consts.$game-banner-height;

		overflow: hidden;
		border-bottom-left-radius: 35px;

		#banner-center {
			top: 25%;

			#main-logo {
				width: 300px;
				height: 200px;
				filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
			}
		}

		#banner-right {
			#main-logo {
				width: 125px;
				height: 125px;
				filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
			}
		}

		#banner-nav > #nav-back {
			--text-transform: uppercase;
			--font-size: 10px;
			--active-bg: black;
			--padding: 0 14px 0 11px;

			// Flip play icon around
			--icon-transform: scaleX(-1);
		}

		#banner-bg > #bg {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.5;

			transition: consts.$transition-length opacity;
		}

		#actions-left,
		#actions-right {
			#text-column {
				display: flex;
				flex-direction: column;
				text-align: center;
			}

			// Play button
			stylized-button#play {
				margin-left: 12px;

				--padding: 0 60px;
				--font-size: 15px;
				--font-weight: bold;
				--box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			}

			// Favorite button
			stylized-button#star {
				--padding: 0 7px 0 10px;
				--font-size: 10px;
				--font-weight: bolder;
				--icon-size: 2em;
				--icon-margin: 0 0 0 4px;

				--box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			}
		}

		#main-title {
			position: absolute;
			top: 42px;
			left: 62px;

			font-family: consts.$open-sans;
			font-weight: 800;
			font-size: 44px;
			text-shadow: 0 0.01em 0.3em rgba(0, 0, 0, 0.25);
		}

		#banner-bg {
			position: absolute;
			width: 100%;
			height: 100%;

			background: $dark-gray;
		}

		#banner-right {
			position: absolute;
			right: 37px;
			top: 20px;
		}

		#banner-nav {
			position: absolute;
			left: 50px;
			top: 17px;
		}

		#banner-actions {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 15px 25px;

			#actions-left,
			#actions-right {
				width: max-content; // Prevent from stretching all the way across
				height: 36px;

				display: flex;
				flex-direction: row;
				align-items: center;

				margin: 0 12px;
			}

			#actions-left {
				float: left;
			}

			#actions-right {
				float: right;
			}
		}
	}

	#body {
		display: block;
		width: 100%;
		min-height: calc(100vh - #{consts.$game-banner-height}); // Expand all the way to the bottom

		#tags-holder {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 8px;
			box-sizing: border-box;
			padding: 12px;

			.tag {
				margin-right: 9px;
				border-radius: 100px;
				padding: 3px 19px;

				font-family: consts.$open-sans;
				font-weight: bolder;
				font-size: 14px;
				background: rgba(255, 255, 255, 0.1);
			}
		}

		#description {
			margin-bottom: 25px;
		}

		.placeholder {
			margin: 0;
			font-family: consts.$open-sans;
			font-size: 14px;
			opacity: 0.5;
		}

		#groups-list {
			padding: consts.$panel-spacing;

			display: flex;
			flex-flow: row wrap;

			.square-tile {
				width: 200px;
				height: 200px;
				margin: 0 12px 12px 0;
			}
		}

		#leaderboard-type-toggle,
		#leaderboard-buttons {
			display: inline-flex;
			margin-left: 4px;
			padding: 2px;
			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.06);

			stylized-button {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				--padding: 0 20px;
				--active-bg: #f0f0f0f0;
				--active-color: #1d1d1d;
			}
		}

		#leaderboard-buttons-placeholder {
			width: 180px;
			height: 32px;
			margin-bottom: 12px;
			background-color: rgba(255, 255, 255, 0.01);
			border-radius: 4px;
		}

		#leaderboard-table-placeholder {
			border-spacing: 4px;

			th {
				display: block;
				height: 32px;
				margin-bottom: 2px;
				padding: 0;

				loading-placeholder {
					opacity: 12%;
					height: 100%;
					--border-radius: 4px;
				}
			}

			td {
				height: 40px;
				padding: 0;

				loading-placeholder {
					opacity: 25%;
					height: 100%;
					--border-radius: 4px;
				}
			}

			tr:nth-child(even) td {
				loading-placeholder {
					opacity: 50%;
					height: 100%;
				}
			}
		}

		// TODO: Abstract this into its own element
		#leaderboard-table {
			border-collapse: collapse;

			// Placement column
			th:nth-child(1),
			td:nth-child(1) {
				width: 80px;
				text-align: center;
				font-size: 12px;
				color: #9e9e9e;
				font-weight: 700;

				#crown {
					--fill: white;
					font-size: 24px;
				}
			}

			// User column
			th:nth-child(2),
			td:nth-child(2) {
				width: 325px;
				padding-left: 10px;
			}
			td:nth-child(2) {
				identity-tile {
					--font-weight: 700;
				}

				padding: 0 34px 0 0;
			}

			th,
			td {
				text-align: left;
			}

			// Color every other row
			tr:nth-child(even) {
				background-color: rgba(255, 255, 255, 0.02);
			}

			// Headers
			th {
				padding: 12px 0;
				color: #efefef40;
				font-size: 14px;
				font-weight: 600;
			}

			// Data cells
			td {
				font-size: 14px;
				color: #eeeeee;
				font-weight: 600;
				padding: 0;
			}

			// Highlight self
			tr.is-self {
				background: #f7d00017;

				// Data cells
				td {
					color: #cdaa35;
				}

				// Placement column
				td:nth-child(1) {
					color: rgb(169, 143, 52);

					#crown {
						--fill: #ffb600;
					}
				}

				identity-tile,
				group-handle-tile {
					--color: #cdaa35;
				}
			}
		}

		column-layout > [slot='right-column'] {
			margin-right: 0;
			max-width: 250px;

			#developer {
				#main-thumbnail-placeholder {
					display: inline-block;
					vertical-align: -1px;
					margin-right: 2px;
					position: relative;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: consts.$avatar-background;

					filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
				}

				#main-thumbnail {
					width: 15px;
					height: 15px;

					filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
				}
			}

			#platform-icons {
				display: flex;
				flex-direction: row;

				.platform-link {
					margin-right: 7px;
					line-height: 0;
					font-size: 24px;
				}
			}
		}
	}

	#video-clip {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		#banner {
			#banner-right {
				top: 15px;
				right: 30px;

				#main-logo {
					width: 145px;
					height: 145px;
					filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.65));
				}
			}
		}

		#body {
			width: unset;
			padding: 12px 18px;

			#main-info {
				display: flex;
				flex-direction: row;
				margin-bottom: 25px;

				#column {
					flex: 1 1 auto;
					display: flex;
					flex-direction: column;

					#tags-holder {
						padding: 0;
						margin-bottom: 8px;
						padding-right: 4px;

						.tag {
							margin: 0 8px 8px 0;
							padding: 2px 16px;
							font-size: 13px;
						}
					}

					#main-title {
						margin-bottom: 2px;
						padding-right: 10px;

						font-family: consts.$open-sans;
						font-weight: 800;
						font-size: 35px;
						line-height: 1.2em;
						text-shadow: 0 0.01em 0.3em rgba(0, 0, 0, 0.25);
					}

					#developer {
						margin-left: 2px;

						#main-thumbnail-placeholder {
							display: inline-block;
							vertical-align: -1px;
							margin-right: 2px;
							position: relative;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							background-color: consts.$avatar-background;

							filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
						}

						#main-thumbnail {
							width: 15px;
							height: 15px;

							filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
						}
					}
				}

				#play {
					flex: 0 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 12px 12px 0 0;
					width: 58px;
					height: 58px;

					background: $main-accent;
					border-radius: 100%;
					box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);

					@include common.active-state;
				}
			}
		}
	}
}
