@use '../shared/common';
@use '../shared/consts';

loading-wheel {
	height: 100vh;
	display: block;
}

#base {
	position: relative;
	width: 100%;
	height: 100vh;

	box-sizing: border-box;
	padding: 0 0 0 10px;

	right-sidebar-layout {
		display: block;
		position: relative;
		top: 0;
		height: 100vh;

		[slot='sidebar'] {
			padding: 35px 30px 0 7px;
			overflow: auto;

			group-handle-tile {
				display: block;
				margin: 0 0 25px 0;
			}

			#sidebar-actions {
				position: relative;
				margin: 5px 0 15px 0;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
			}

			#contents {
				.sidebar-header {
					text-transform: uppercase;
					color: #ffffff50;
					font-weight: 600;
					font-size: 12px;
				}

				#members {
					identity-tile {
						display: block;
						margin-bottom: 2px;

						e-svg {
							width: 15px;
							height: 15px;

							&.owner {
								--fill: #ffb600;
							}

							&.admin {
								--fill: #ececec;
							}
						}
					}
				}

				#join-requests {
					.join-request-actions {
						icon-button {
							margin-right: 3px;
							border-radius: 100%;
							transition: background-color consts.$transition-length;
							--size: 23px;

							&:hover {
								background-color: $raised-bg;
							}

							&:last-child {
								margin-right: 0;
							}
						}
					}
				}

				#channels {
					margin-left: 10px;
					margin-bottom: 20px;

					p {
						font-size: 15px;
						color: #e2e2e2;
						margin: 0;
						cursor: pointer;

						e-svg {
							width: 1.3em;
							height: 1.3em;
							margin-right: 7px;
							vertical-align: -4px;
							--fill: #e2e2e2;
						}
					}
				}

				&.collapsed {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		padding: 0 10px 0 10px;
	}
}
