@use '../shared/common';
@use '../shared/utils';
@use '../shared/consts';

#banner-bg {
	& > lazy-img {
		width: 100%;
		height: 100%;

		filter: brightness(90%);
	}
}

#banner-center {
	flex-direction: column;

	group-avatar {
		flex: 0 0 auto;
		width: 128px;
		height: 128px;
		--font-size: 35px;
	}

	#nav-back {
		left: 20px;
		top: 20px;
		position: absolute;

		--text-transform: uppercase;
		--font-size: 10px;
		--active-bg: black;
		--padding: 0 14px 0 11px;

		// Flip play icon around
		--icon-transform: scaleX(-1);
	}

	#main-display-name {
		position: relative;
		text-align: center;
		font-size: 28px;
		font-weight: bold;

		text-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
	}
}

// Group bio content
#bio {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;

	#bio-text {
		white-space: pre-line;

		// Zalgo
		overflow: hidden;
	}

	.muted {
		opacity: 0.5;
		font-style: italic;
	}
}

#body {
	#games {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		game-stats {
			min-width: 380px;
			max-width: 600px;
			width: calc(50% - 12px);
			margin-bottom: 24px;
		}
	}

	.muted {
		font-size: 14px;
		opacity: 0.5;
		font-family: consts.$open-sans;
		margin: 0;
	}

	#bio {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5em;
	}
}

.game-tab {
	width: 150px;
	height: 100px;
}

#bg-selector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.bg-option {
		$size: 32px;
		width: $size;
		height: $size;
		margin-bottom: 8px;

		cursor: pointer;

		@include common.active-state;

		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#banner {
		position: relative;
		background-color: $raised-bg;
		width: 100%;
		height: consts.$profile-banner-height;

		overflow: hidden;
		border-radius: 0 0 35px 35px;

		#banner-center {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			height: 100%;
			box-sizing: border-box;
			padding: 0 10px;

			group-avatar {
				width: 64px;
				height: 64px;
				margin: 12px 12px 12px 0;
				--font-size: 21px;
			}

			#main-display-name {
				font-size: 20px;
				margin: 0;

				identity-name {
					text-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}

	#body {
		padding: 12px 18px;

		#group-actions {
			display: flex;
			flex-flow: row wrap;
			margin: -5px -5px 5px -5px;

			stylized-button {
				margin: 5px;
			}

			#transfer-ownership {
				&:hover {
					--bg-color: #d4393b;
				}
			}
		}
	}
}

#transfer-ownership-modal {
	[slot='body'] {
		drop-down-list {
			--max-height: 56px;
			margin-bottom: 20px;
		}

		p.content {
			margin: 12px 0 15px 0;
			max-width: 600px;
			font-size: 14px;
			text-align: center;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.8);
		}

		#group-transfer-name {
			font-weight: 700;
		}
	}
}

#create-invite-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;
			color: black;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		p.content {
			margin: 0 0 20px 0;
			max-width: 600px;
			font-size: 14px;
			text-align: center;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.8);
		}

		#inputs {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			.input-group {
				display: flex;
				flex-direction: column;

				h2 {
					margin: 14px 0 2px 0;
					color: black;

					font-size: 10px;
					font-weight: bold;
					font-family: consts.$open-sans;
					text-transform: uppercase;
				}

				drop-down-list {
					width: 100%;
				}

				text-input {
					width: 100%;
				}
			}
		}

		#result {
			@include utils.enable-user-select();

			#invite-code {
				text-align: center;
				font-family: consts.$fira-code;
				font-weight: 500;
				font-size: 50px;
				color: #151515;
				margin: 30px 0 15px 0;
			}

			#invite-link-area {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 15px;

				#copy-button {
					margin-left: 15px;
					transition: opacity consts.$transition-length;
					border-radius: 3px;
					--padding: 6px;

					border: 1px solid rgba(0, 0, 0, 0.3);
					transition: border-color consts.$transition-length;

					&:hover {
						border-color: rgba(0, 0, 0, 0.5);
					}
				}

				#copy-result {
					position: absolute;
					top: 1px;
					right: 42px;
					padding: 5px 10px;
					border-radius: 3px;
					background: #151515;
					color: #ececec;
					text-align: right;
					box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);

					animation: fade-out consts.$transition-length 1s forwards;
				}
			}
		}
	}
}
