@use '../shared/common';

#base {
	box-sizing: border-box;

	#header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 8px 12px 10px 12px;
		margin-bottom: 2px;

		background: $raised-bg;
		box-shadow: 0 2px 11px rgba(0, 0, 0, 0.18);

		#group-name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			h1 {
				color: var(--color, #eeeeee);
				font-size: 14px;
				font-weight: var(--font-weight, 600);
				margin: 0;
			}
		}

		#title {
			color: #808080;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			margin: 0;
		}

		#error {
			margin: 2px 0 0 0;
			color: #808080;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	#list {
		display: flex;
		flex-direction: column;
		padding: 12px 18px;

		identity-tile {
			margin-bottom: 4px;
		}
	}
}
