@use '../shared/common';
@use '../shared/consts';
@use '../shared/utils';

.dashed-border-button {
	$border-width: 3px;
	$border-radius: 30px;

	overflow: hidden;
	display: flex;
	position: relative;
	padding: $border-width;
	border-radius: $border-radius;

	background-image: utils.dashed-border(
		rgba(255, 255, 255, 0.12),
		$border-radius,
		$border-width,
		$dash-array: (5, 11),
		$dash-offset: 2px
	);

	&:hover {
		background-image: utils.dashed-border(
			rgba(255, 255, 255, 0.15),
			$border-radius,
			$border-width,
			$dash-array: (5, 11),
			$dash-offset: 2px
		);

		#create-game-content {
			background-color: rgba(255, 255, 255, 0.02);
		}
	}
}

#base {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 consts.$panel-spacing consts.$panel-spacing consts.$panel-spacing;

	page-header {
		--icon-fill: #fcae1f;
	}

	#banner {
		position: relative;
		height: 250px;

		background-color: $dark-gray;
		border-radius: consts.$tile-border-radius;
		overflow: hidden;
		margin: 0 0 consts.$tile-spacing 0;

		#bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			e-svg.img {
				left: 30%;
				width: 70%;
				transform: scaleX(-1);
			}
		}

		#content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;

			h1 {
				width: 100%;
				display: inline-block;
				padding: 0 15px;
				margin-top: 30px;
				box-sizing: border-box;
				font-size: 32px;
				font-weight: bold;
				text-align: center;
			}

			stylized-button {
				position: relative;
				margin-bottom: 30px;

				--text-transform: none;
			}
		}
	}

	#search-bar-holder {
		margin: 0 0 consts.$tile-spacing 0;
		height: 33px;

		display: flex;
		flex-direction: row;
		justify-content: center;

		#search-bar {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 33px;
			background-color: $dark-gray;
			border-radius: 100px;
			width: 100%;
			max-width: 360px;
			box-sizing: border-box;
			padding: 6px;
			font-size: 14px;

			e-svg {
				flex: 0 0 auto;
				margin: 0 3px 1px 3px;
				--fill: white;
			}

			input[type='text'] {
				flex: 1 1 auto;
				margin-left: 5px;
				background: none;
				border: none;
				outline: none;
				outline-width: 0;

				font-size: 14px;
				font-weight: 600;
				font-family: consts.$open-sans;
				color: white;

				&::placeholder {
					font-weight: bold;
				}
			}
		}
	}

	h2 {
		margin-bottom: 2px;
	}

	.placeholder {
		margin: 0;
		font-family: consts.$open-sans;
		font-size: 14px;
		opacity: 0.5;
	}

	#groups-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.square-tile {
			width: 250px;
			height: 250px;
			margin: 0 0 12px 12px;
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		padding-top: consts.$panel-spacing;
		padding-right: consts.$panel-spacing * 0.5;

		#groups-list {
			.square-tile {
				width: 170px;
				height: 170px;
			}
		}
	}
}

#create-group-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;
			color: black;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;

			h2 {
				margin: 14px 0 2px 0;
				color: black;

				font-size: 10px;
				font-weight: bold;
				font-family: consts.$open-sans;
				text-transform: uppercase;
			}

			#create-group-error,
			#create-game-error {
				max-width: 210px;
				margin-top: 7px;
				padding: 0 4px;

				color: red;
				font-size: 10px;
				font-family: consts.$open-sans;
				font-weight: bolder;

				e-svg {
					--fill: red;
					width: 1.4em;
					height: 1.4em;
					vertical-align: -3px;
					margin-right: 2px;
				}
			}
		}

		stylized-button {
			margin-top: 8px;
			width: 100%;
			max-width: 200px;
			--padding: 0 35px;
		}
	}
}

#create-group-modal {
	[slot='body'] {
		#preview {
			position: relative;
			width: 100%;
			max-width: 200px;
			box-sizing: border-box;
			padding: 16px 16px 8px 16px;

			&.active {
				margin-right: 0;
			}

			#profile-icon {
				position: relative;
				left: 50%;
				width: 70px;
				height: 70px;
				margin-left: -35px;
				border-radius: 100%;
				background-color: black;

				color: white;
				font-size: 24px;
				font-weight: bold;
				line-height: 70px;
				text-align: center;
			}

			h3 {
				margin: 8px 0 0 0;
				color: black;
				font-size: 12px;
				text-align: center;
				font-family: consts.$open-sans;
				font-weight: bold;

				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

.games-list {
	#create-game {
		$border-width: 3px;
		$border-radius: 32px;

		overflow: hidden;
		display: flex;
		position: relative;
		height: 320px;
		border-radius: $border-radius;

		background-image: utils.dashed-border(
			rgba(255, 255, 255, 0.12),
			$border-radius,
			$border-width,
			$dash-array: (5, 11),
			$dash-offset: 2px
		);

		&:hover {
			background-image: utils.dashed-border(
				rgba(255, 255, 255, 0.15),
				$border-radius,
				$border-width,
				$dash-array: (5, 11),
				$dash-offset: 2px
			);

			#create-game-content {
				background-color: rgba(255, 255, 255, 0.02);
			}
		}

		@include common.active-state();

		#create-game-content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 1;

			padding: 16px;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			border-radius: $border-radius - $border-width;
			text-align: center;

			font-size: 20px;
			font-weight: 600;
			color: rgba(255, 255, 255, 0.8);
			cursor: pointer;

			lazy-img {
				width: 140px;
				height: 140px;
				margin: -25px 15px 30px 15px;
			}
		}
	}

	#non-dev-group-selected {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 5px 0 0 10px;

		h2 {
			margin: 0;
			font-size: 16px;
			font-weight: 600;
			color: #ecececcc;
		}

		stylized-button {
			margin-left: 12px;
		}
	}
}
