@use '../shared/common';
@use '../shared/utils';
@use '../shared/consts';

// TODO: Simplify the unnecessary styles in this file

.dashed-border-button {
	$border-width: 3px;
	$border-radius: 30px;

	overflow: hidden;
	display: flex;
	position: relative;
	padding: $border-width;
	border-radius: $border-radius;

	background-image: utils.dashed-border(
		rgba(255, 255, 255, 0.12),
		$border-radius,
		$border-width,
		$dash-array: (5, 11),
		$dash-offset: 2px
	);

	&:hover {
		background-image: utils.dashed-border(
			rgba(255, 255, 255, 0.15),
			$border-radius,
			$border-width,
			$dash-array: (5, 11),
			$dash-offset: 2px
		);

		#create-game-content {
			background-color: rgba(255, 255, 255, 0.02);
		}
	}
}

#base {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 consts.$panel-spacing consts.$panel-spacing consts.$panel-spacing;

	page-header {
		--icon-fill: #fcae1f;
	}

	#banner {
		position: relative;
		height: 250px;

		background-color: $dark-gray;
		border-radius: consts.$tile-border-radius;
		overflow: hidden;
		margin: 0 0 consts.$tile-spacing 0;

		#bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			e-svg.img {
				left: 30%;
				width: 70%;
				transform: scaleX(-1);
			}
		}

		#content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;

			h1 {
				width: 100%;
				display: inline-block;
				padding: 0 15px;
				margin-top: 30px;
				box-sizing: border-box;
				font-size: 32px;
				font-weight: bold;
				text-align: center;
			}

			stylized-button {
				position: relative;
				margin-bottom: 30px;

				--text-transform: none;
			}
		}
	}

	#search-bar-holder {
		margin: 0 0 consts.$tile-spacing 0;
		height: 33px;

		display: flex;
		flex-direction: row;
		justify-content: center;

		#search-bar {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 33px;
			background-color: $dark-gray;
			border-radius: 100px;
			width: 100%;
			max-width: 360px;
			box-sizing: border-box;
			padding: 6px;
			font-size: 14px;

			e-svg {
				flex: 0 0 auto;
				margin: 0 3px 1px 3px;
				--fill: white;
			}

			input[type='text'] {
				flex: 1 1 auto;
				margin-left: 5px;
				background: none;
				border: none;
				outline: none;
				outline-width: 0;

				font-size: 14px;
				font-weight: 600;
				font-family: consts.$open-sans;
				color: white;

				&::placeholder {
					font-weight: bold;
				}
			}
		}
	}

	h2 {
		margin-bottom: 2px;
	}

	.placeholder {
		margin: 0;
		font-family: consts.$open-sans;
		font-size: 14px;
		opacity: 0.5;
	}

	#groups-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.square-tile {
			width: 250px;
			height: 250px;
			margin: 0 0 12px 12px;
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		padding-top: consts.$panel-spacing;
		padding-right: consts.$panel-spacing * 0.5;

		#groups-list {
			.square-tile {
				width: 170px;
				height: 170px;
			}
		}
	}
}

#create-group-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;
			color: black;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;

			h2 {
				margin: 14px 0 2px 0;
				color: black;

				font-size: 10px;
				font-weight: bold;
				font-family: consts.$open-sans;
				text-transform: uppercase;
			}

			#create-group-error,
			#create-game-error {
				max-width: 210px;
				margin-top: 7px;
				padding: 0 4px;

				color: red;
				font-size: 10px;
				font-family: consts.$open-sans;
				font-weight: bolder;

				e-svg {
					--fill: red;
					width: 1.4em;
					height: 1.4em;
					vertical-align: -3px;
					margin-right: 2px;
				}
			}
		}

		stylized-button {
			margin-top: 8px;
			width: 100%;
			max-width: 200px;
			--padding: 0 35px;
		}
	}
}

#create-group-modal {
	[slot='body'] {
		#preview {
			position: relative;
			width: 100%;
			max-width: 200px;
			box-sizing: border-box;
			padding: 16px 16px 8px 16px;

			&.active {
				margin-right: 0;
			}

			#profile-icon {
				position: relative;
				left: 50%;
				width: 70px;
				height: 70px;
				margin-left: -35px;
				border-radius: 100%;
				background-color: black;

				color: white;
				font-size: 24px;
				font-weight: bold;
				line-height: 70px;
				text-align: center;
			}

			h3 {
				margin: 8px 0 0 0;
				color: black;
				font-size: 12px;
				text-align: center;
				font-family: consts.$open-sans;
				font-weight: bold;

				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

.games-list {
	#create-game {
		$border-width: 3px;
		$border-radius: 32px;

		overflow: hidden;
		display: flex;
		position: relative;
		height: 320px;
		border-radius: $border-radius;

		background-image: utils.dashed-border(
			rgba(255, 255, 255, 0.12),
			$border-radius,
			$border-width,
			$dash-array: (5, 11),
			$dash-offset: 2px
		);

		&:hover {
			background-image: utils.dashed-border(
				rgba(255, 255, 255, 0.15),
				$border-radius,
				$border-width,
				$dash-array: (5, 11),
				$dash-offset: 2px
			);

			#create-game-content {
				background-color: rgba(255, 255, 255, 0.02);
			}
		}

		@include common.active-state();

		#create-game-content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 1;

			padding: 16px;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			border-radius: $border-radius - $border-width;
			text-align: center;

			font-size: 20px;
			font-weight: 600;
			color: rgba(255, 255, 255, 0.8);
			cursor: pointer;

			lazy-img {
				width: 140px;
				height: 140px;
				margin: -25px 15px 30px 15px;
			}
		}
	}

	#non-dev-group-selected {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 5px 0 0 10px;

		h2 {
			margin: 0;
			font-size: 16px;
			font-weight: 600;
			color: #ecececcc;
		}

		stylized-button {
			margin-left: 12px;
		}
	}
}


#banner-bg {
	& > lazy-img {
		width: 100%;
		height: 100%;

		filter: brightness(90%);
	}
}

#banner-center {
	flex-direction: column;

	group-avatar {
		flex: 0 0 auto;
		width: 128px;
		height: 128px;
		--font-size: 35px;
	}

	#nav-back {
		left: 20px;
		top: 20px;
		position: absolute;

		--text-transform: uppercase;
		--font-size: 10px;
		--active-bg: black;
		--padding: 0 14px 0 11px;

		// Flip play icon around
		--icon-transform: scaleX(-1);
	}

	#main-display-name {
		position: relative;
		text-align: center;
		font-size: 28px;
		font-weight: bold;

		text-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
	}
}

// Group bio content
#bio {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;

	#bio-text {
		white-space: pre-line;

		// Zalgo
		overflow: hidden;
	}

	.muted {
		opacity: 0.5;
		font-style: italic;
	}
}

#body {
	#games {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		game-stats {
			min-width: 380px;
			max-width: 600px;
			width: calc(50% - 12px);
			margin-bottom: 24px;
		}
	}

	.muted {
		font-size: 14px;
		opacity: 0.5;
		font-family: consts.$open-sans;
		margin: 0;
	}

	#bio {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5em;
	}
}

.game-tab {
	width: 150px;
	height: 100px;
}

#bg-selector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.bg-option {
		$size: 32px;
		width: $size;
		height: $size;
		margin-bottom: 8px;

		cursor: pointer;

		@include common.active-state;

		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#banner {
		position: relative;
		background-color: $raised-bg;
		width: 100%;
		height: consts.$profile-banner-height;

		overflow: hidden;
		border-radius: 0 0 35px 35px;

		#banner-center {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			height: 100%;
			box-sizing: border-box;
			padding: 0 10px;

			group-avatar {
				width: 64px;
				height: 64px;
				margin: 12px 12px 12px 0;
				--font-size: 21px;
			}

			#main-display-name {
				font-size: 20px;
				margin: 0;

				identity-name {
					text-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}

	#body {
		padding: 12px 18px;

		#group-actions {
			display: flex;
			flex-flow: row wrap;
			margin: -5px -5px 5px -5px;

			stylized-button {
				margin: 5px;
			}

			#transfer-ownership {
				&:hover {
					--bg-color: #d4393b;
				}
			}
		}
	}
}

#transfer-ownership-modal {
	[slot='body'] {
		drop-down-list {
			--max-height: 56px;
			margin-bottom: 20px;
		}

		p.content {
			margin: 12px 0 15px 0;
			max-width: 600px;
			font-size: 14px;
			text-align: center;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.8);
		}

		#group-transfer-name {
			font-weight: 700;
		}
	}
}

#create-invite-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;
			color: black;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		p.content {
			margin: 0 0 20px 0;
			max-width: 600px;
			font-size: 14px;
			text-align: center;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.8);
		}

		#inputs {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			.input-group {
				display: flex;
				flex-direction: column;

				h2 {
					margin: 14px 0 2px 0;
					color: black;

					font-size: 10px;
					font-weight: bold;
					font-family: consts.$open-sans;
					text-transform: uppercase;
				}

				drop-down-list {
					width: 100%;
				}

				text-input {
					width: 100%;
				}
			}
		}

		#result {
			@include utils.enable-user-select();

			#invite-code {
				text-align: center;
				font-family: consts.$fira-code;
				font-weight: 500;
				font-size: 50px;
				color: #18181b;
				margin: 30px 0 15px 0;
			}

			#invite-link-area {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 15px;

				#copy-button {
					margin-left: 15px;
					transition: opacity consts.$transition-length;
					border-radius: 3px;
					--padding: 6px;

					border: 1px solid rgba(0, 0, 0, 0.3);
					transition: border-color consts.$transition-length;

					&:hover {
						border-color: rgba(0, 0, 0, 0.5);
					}
				}

				#copy-result {
					position: absolute;
					top: 1px;
					right: 42px;
					padding: 5px 10px;
					border-radius: 3px;
					background: #18181b;
					color: #ececec;
					text-align: right;
					box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);

					animation: fade-out consts.$transition-length 1s forwards;
				}
			}
		}
	}
}
