@use '../shared/common';
@use '../shared/consts';

profile-layout {
	--banner-height: 260px;
}

// $background-dimming: rgba(0, 0, 0, 0.05);

#banner-bg {
	& > lazy-img {
		width: 100%;
		height: 100%;

		filter: brightness(90%);
	}
}

#banner-center {
	flex-wrap: wrap;
	align-content: center;
	box-sizing: border-box;
	padding: 0 20px;

	#main-avatar-placeholder {
		position: relative;
		margin: 8px 16px 8px 0;
		width: 128px;
		height: 128px;
		border-radius: 30%;
		overflow: hidden;
	}

	#main-avatar {
		display: block;
		flex: 0 0 auto;
		margin: 8px 16px 8px 0;
		width: 128px;
		height: 128px;
	}

	#nav-back {
		position: absolute;
		left: 20px;
		top: 20px;

		--text-transform: uppercase;
		--font-size: 10px;
		--active-bg: black;
		--padding: 0 14px 0 11px;

		// Flip play icon around
		--icon-transform: scaleX(-1);
	}

	#mobile-nav-back {
		position: absolute;
		left: 20px;
		top: 20px;
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 20px;
		padding: 2px;
		transition: background-color consts.$transition-length;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	#main-display-name {
		font-size: 0;
		z-index: 1;

		.display-name > .account-number {
			display: inline-block;
			font-size: 1em;
		}

		span {
			font-size: 22px;
			font-weight: 600;
		}

		identity-name {
			font-size: 22px;
			font-weight: bold;

			text-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
		}

		loading-placeholder {
			display: inline-block;
			width: 60px;
			height: 22px;
			margin-right: 8px;
			--border-radius: 4px;

			&:first-child {
				display: block;
				width: 200px;
				height: 22px;
				margin-bottom: 8px;
			}
		}
	}
}

#about {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;

	#bio-text {
		white-space: pre-line;

		// Zalgo
		overflow: hidden;
	}

	.muted,
	.joined-timestamp {
		opacity: 0.5;
		font-style: italic;
	}
}

#groups {
	.group {
		display: block;
		--font-size: 14px;
		border-radius: 6px;
		transition: background-color consts.$transition-length;

		// &:hover {
		// 	background-color: $raised-bg;
		// }
	}
}

info-panel-body {
	font-size: 14px;

	& > p {
		font-size: 14px;
		margin: 0;
		opacity: 0.5;
	}
}

#games-body {
	loading-placeholder {
		height: 400px;
		--border-radius: 4px;
	}

	.no-content {
		margin-left: 6px;
	}
}

#games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	game-stats {
		min-width: 380px;
		max-width: 600px;
		width: calc(50% - 12px);
		margin-bottom: 24px;
	}
}

[slot='actions-left'],
[slot='actions-right'] {
	#text-column {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	stylized-button {
		margin-left: 12px;
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#banner {
		position: relative;
		background-color: $raised-bg;
		width: 100%;
		height: consts.$profile-banner-height;

		overflow: hidden;
		border-radius: 0 0 35px 35px;

		#banner-center {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			height: 100%;
			box-sizing: border-box;
			padding: 0 10px;

			#main-avatar-placeholder,
			#main-avatar {
				width: 64px;
				height: 64px;
				margin: 12px 12px 12px 0;
			}

			#main-display-name {
				display: flex;
				flex-direction: column;

				identity-name,
				span {
					font-size: 20px;
					font-weight: 600;
					text-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
				}

				loading-placeholder {
					display: inline-block;
					width: 100px;
					height: 18px;
					--border-radius: 3px 0 0 3px;

					&:last-child {
						width: 35px;
						border-radius: 0 3px 3px 0;
						opacity: 0.6;
					}
				}
			}
		}
	}

	#body {
		padding: 12px 18px;
		margin-bottom: 6px;

		#identity-actions {
			display: flex;
			flex-flow: row wrap;
			margin: -5px -5px 5px -5px;

			stylized-button {
				margin: 5px;
			}

			loading-placeholder {
				display: inline-block;
				width: 65px;
				height: 22px;
				--border-radius: 11px;
				margin: 0 6px 0 0;

				&:nth-child(2) {
					width: 75px;
				}

				&:nth-child(3) {
					width: 60px;
				}
			}
		}
	}
}
