@use '../shared/common';
@use '../shared/consts';

#base {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	width: 17px;
	height: 17px;
	outline: none;
	border: none;
	box-sizing: border-box;
	background: $raised-bg;
	border-radius: 3px;
	border: 2px solid $raised-bg;
	cursor: pointer;

	font-size: 0px;

	transition:
		background-color consts.$transition-length,
		border consts.$transition-length;

	&:not(.disabled):hover {
		border: 2px solid rgba(255, 255, 255, 0.12);
	}

	&:not(.disabled):active {
		background: rgba(255, 255, 255, 0.12);
		border: 2px solid rgba(255, 255, 255, 0.12);
	}

	&.large {
		width: 21px;
		height: 21px;

		e-svg {
			width: 13px;
			height: 13px;
		}
	}

	&.radio {
		border-radius: 100%;
	}

	&.checked {
		#radio-button,
		#check {
			opacity: 1;
		}
	}

	&.disabled {
		border: 0px solid $raised-bg;
		cursor: default;
	}

	e-svg {
		display: block;
		position: relative;
		width: 11px;
		height: 11px;
		--fill: #ececec;
	}

	#radio-button {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background-color: #ecececcc;
		opacity: 0;
	}

	#check {
		opacity: 0;
	}
}
