@use '../shared/common';
@use '../shared/utils';
@use '../shared/consts';

#base {
	$background-image: var(--background-image, #{utils.dashed-border(rgba(255, 255, 255, 0.12), 5px)});
	$border-radius: var(--border-radius, 0px);
	$border-width: var(--border-width, 2px);
	$font-size: var(--font-size, 14px);
	$height: var(--height, 33px);

	overflow: hidden;
	display: block;
	position: relative;
	cursor: pointer;
	padding: $border-width;
	background-image: $background-image;
	border-radius: $border-radius;

	transition: transform consts.$transition-length;

	&:hover {
		transform: translateY(-1px);
	}

	@include common.active-state();

	&.selected {
		background-image: utils.dashed-border(rgba(255, 255, 255, 0.15), 5px);

		#content {
			background: linear-gradient(
				132.28deg,
				rgba(255, 255, 255, 0.14) 2.57%,
				rgba(255, 255, 255, 0.08) 76.27%
			);
		}
	}

	&.centered {
		#content {
			justify-content: center;

			e-svg {
				margin: 5px 9px 5px 0;
			}

			span {
				flex: unset;
			}
		}
	}

	&.light {
		background: none;

		#content {
			color: #18181bcc;

			e-svg {
				--fill: #18181bcc;
			}
		}

		&:before {
			border-color: rgba(0, 0, 0, 0.25);
		}
	}

	// Disabled State
	&.disabled,
	&.loading {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	#content {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 2;

		padding: 4px 7px 4px 4px;
		box-sizing: border-box;
		height: $height;
		border-radius: calc(#{$border-radius} - #{$border-width});
		background-image: linear-gradient(
			132.28deg,
			rgba(255, 255, 255, 0.1) 2.57%,
			rgba(255, 255, 255, 0.05) 76.27%
		);

		font-size: $font-size;
		font-weight: 600;
		color: #ecececcc;

		e-svg {
			flex: 0 0 auto;
			margin: 5px 10px 5px 5px;
			--fill: #ecececcc;
		}

		span {
			flex: 1 1 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-width: 0;
		}
	}
}
