@use '../shared/common';
@use '../shared/consts';

$max-width: 250px;

:host {
	display: flex;
	max-height: 100%;
}

#base {
	$color: var(--bg-color, #2a2a2a);
	$highlight-color: var(--highlight-color, #313131);
	$text-color: var(--text-color, #ececec);
	$muted-text-color: var(--text-color, #ececec80);
	$box-shadow: var(--box-shadow, 0 3px 12px rgba(0, 0, 0, 0.2));
	$selected-color: var(--selected-color, $raised-bg);
	$border: var(--border);

	position: relative;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	max-width: $max-width;
	max-height: 100%;
	z-index: 1;

	&.fixed {
		width: var(--width, $max-width);
	}

	&.open {
		z-index: 2;

		&.has-filter {
			#controls {
				padding: 0 11px 0 15px;
			}
		}

		#controls {
			background-color: $highlight-color;

			#icon {
				margin-bottom: -2px;
			}
		}

		#options {
			display: flex;
			flex-direction: column;
		}
	}

	&.border {
		&.open {
			#controls {
				border-color: $text-color;

				#icon {
					--fill: #{$text-color};
				}
			}
		}

		#controls {
			border: $border;
		}
	}

	&.light {
		&.open {
			#controls {
				background-color: var(--highlight-color, #f2f2f2);
				border-color: var(--text-color, #121212);

				#icon {
					--fill: var(--text-color, #121212);
				}
			}
		}

		#controls {
			background-color: var(--bg-color, #ffffff);
			border: var(--border, 1px solid #bfbfbf);
			box-shadow: var(--box-shadow, rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 1px 3px);

			#selection {
				color: var(--text-color, #121212);
			}

			#icon {
				--fill: var(--text-color, #121212);
			}
		}

		#options {
			background-color: var(--bg-color, #ffffff);

			.option {
				color: var(--text-color, #121212);

				&:hover,
				&.selected {
					background-color: var(--selected-color, #{$lowered-bg});
				}
			}

			.muted {
				color: var(--text-color, #12121280);
			}
		}
	}

	#controls {
		position: relative;
		flex: 0 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		z-index: 3;
		padding: 7px 11px 7px 15px;
		background-color: $color;
		box-shadow: $box-shadow;

		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		transition: background-color consts.$transition-length;

		#selection {
			margin: 0 var(--selection-margin, 12px) 0 0;
			font-size: 12px;
			font-weight: 600;
			color: $text-color;

			overflow: hidden;
			line-break: anywhere;
			text-overflow: ellipsis;
		}

		#filter-input {
			display: inline-block;
			width: 100%;
			padding: 7px 0;
			outline: none;
			border: none;
			box-sizing: border-box;
			background-color: transparent;
			margin: 0 var(--selection-margin, 12px) 0 0;

			font-size: 12px;
			font-weight: 600;
			font-family: consts.$open-sans;
			color: $text-color;

			&::placeholder {
				color: $text-color;
				opacity: 0.8;
			}
		}

		#icon {
			width: 15px;
			height: 15px;
			--fill: #{$text-color};
		}
	}

	#controls #selection,
	#options {
		.left-icon {
			margin-right: 0.52em;
			width: 1.25em;
			height: 1.25em;
			vertical-align: -0.25em;
		}

		lazy-img.left-icon {
			display: inline-block;
			width: 5em;
			height: 2.5em;
			margin-right: 0.45em;
		}
	}

	#spacer {
		flex: 0 0 auto;
		margin-top: -6px;
		height: 6px;
		background-color: $color;
	}

	#options {
		flex: 1 1 auto;
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 2;
		min-width: 100%;
		max-width: $max-width;
		padding: 7px 7px 5px 7px;
		box-sizing: border-box;

		overflow-y: auto;

		background-color: $color;
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);

		.option {
			flex: 0 0 auto;
			font-size: 12px;
			font-weight: 600;
			color: $text-color;
			box-sizing: border-box;
			cursor: pointer;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:not(.unstyled) {
				padding: 5px 6px;
			}

			&:not(.header, .unstyled) {
				&:hover,
				&.selected {
					background-color: $selected-color;
				}
			}

			// A disabled option
			&.disabled {
				pointer-events: none;
				opacity: 0.65;
			}

			&.header {
				cursor: default;
				font-weight: 700;
				font-size: 16px;

				&:not(:first-child) {
					margin-top: 6px;
				}
			}
		}

		.muted {
			margin: 3px 7px;
			color: $muted-text-color;
			text-align: center;
			font-size: 13px;
		}
	}
}
