@use '../shared/common';

#base {
	padding: 7px 14px 7px 10px;
	border-radius: 4px;
	background-color: #d4393b;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	color: #f1f1f1;

	&.warning {
		background-color: #d4ab39;
	}

	h5 {
		text-transform: uppercase;
		font-size: 10px;
		margin: 0 0 3px 0;
	}

	.error {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 0 6px 4px;

		&:last-of-type {
			margin-bottom: 0;
		}

		e-svg {
			margin: 1px 7px 0 0;
			font-size: 16px;
		}

		span {
			font-size: 14px;
			overflow-wrap: anywhere;
		}
	}
}
