@use '../shared/common';

$block-height: 16px;

:host {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#base {
	box-sizing: border-box;
	margin: 0 4px 4px 0;
	padding: 6px 6px 8px 6px;
	background: $raised-bg;
	border-radius: 2px;
	overflow: auto;

	.group {
		display: flex;
		flex-direction: column;
		margin: 0 0 7px 2px;

		&:last-child {
			margin-bottom: 0;
		}

		.header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;

			.path {
				flex: 0 0 auto;
				display: flex;
				flex-direction: row;
				align-items: center;

				.path-segment {
					display: flex;
					flex-flow: row wrap;
					align-items: center;

					cursor: pointer;
					@include common.active-state();

					span {
						font-size: 12px;
						font-weight: 700;
					}

					e-svg {
						width: 12px;
						height: 12px;
						margin: 0 1px;
						--padding: 0px;

						&.ellipsis {
							margin-right: 4px;
						}
					}
				}
			}

			.duration {
				flex: 0 0 auto;
				margin: 0 3px 0 6px;
				font-size: 10px;
				color: #ececec80;
			}
		}

		.content {
			display: flex;
			flex-direction: row;
			margin-left: 6px;

			.labels {
				flex: 0 0 auto;
				display: flex;
				flex-direction: column;
				max-width: 200px;

				.item-label {
					display: flex;
					flex-direction: row;
					align-items: center;
					flex: 0 0 auto;
					height: $block-height;
					margin: 0;
					margin-bottom: 2px;

					span {
						font-size: 12px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						color: #ecececec;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.items {
				flex: 1 1 auto;
				max-width: 60%;
				min-width: 250px;
				display: flex;
				flex-direction: column;
				padding-right: 53px;

				.item {
					position: relative;
					display: flex;
					flex-direction: row;
					align-items: center;
					margin: 0 0 2px 6px;
					height: $block-height;

					&:last-child {
						margin-bottom: 0;
					}

					.mark {
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 2px;
						width: 0; // needed for accurate alignment

						.mouse-over {
							display: flex;
							flex-direction: column;
							align-items: center;
							position: absolute;
							padding: 3px;

							&:hover {
								.extendo-block {
									display: block;
								}
							}

							.extendo-block {
								display: none;
								position: absolute;
								left: 4px;
								bottom: $block-height;
								width: 1px;
								height: 100vh;
								background-color: #ffff6660;
							}

							.block {
								background-color: #ffff66;
								width: 1px;
								height: $block-height - 2px;
							}

							.bulb {
								width: 3px;
								height: 3px;
								border-radius: 35%;
								background-color: #ffff66;
							}
						}

						&.rpc {
							cursor: pointer;

							.extendo-block {
								background-color: #91c18160;
							}

							.block {
								background-color: #91c181;
							}

							.bulb {
								background-color: #91c181;
							}
						}
					}

					.block {
						background-color: #809ec0;
						border-radius: 1px;
						height: $block-height;
						min-width: 1px;

						&.rpc {
							background-color: #91c181;
							cursor: pointer;

							@include common.active-state();
						}

						&.dnf {
							opacity: 0.5;
						}
					}

					.item-duration {
						width: 0px;
						transform: translateX(3px);

						font-size: 10px;
						color: #ecececec;
					}
				}
			}
		}
	}
}
