@use '../../../../shared/common';
@use '../../../../shared/consts';

$input-length-short: 75px;

#base {
	stylized-button {
		--text-transform: none;
		--padding: 0 18px 0 13px;
	}

	#create-token-button {
		margin-bottom: 20px;
	}

	h1 {
		max-width: 600px;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 18px;
	}
}

#create-dev-token-modal {
	[slot='body'] {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 21px 30px;
		background-color: white;
		border-radius: 15px;
		box-sizing: border-box;

		h1 {
			margin-bottom: 0;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 3px;

			h2 {
				margin: 14px 0 2px 0;

				font-size: 10px;
				font-weight: bold;
				font-family: consts.$open-sans;
				text-transform: uppercase;
			}

			error-list {
				margin-bottom: 10px;
			}

			#port-mapping {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 4px;
				max-height: 180px;
				overflow-y: auto;

				#ports {
					border-collapse: collapse;
					border-spacing: 0;

					&.immut-ports {
						border-collapse: separate;
						border-spacing: 3px;

						tr {
							border-bottom: 0;
						}
					}

					th {
						padding: 0 0 0 2px;
						font-size: 11px;
						font-weight: 600;
						color: #18181b80;
						text-transform: uppercase;
						text-align: left;
					}

					// Artificial border spacing
					tr {
						border-bottom: 5px solid transparent;

						tr:first-of-type {
							border-bottom: 3px solid transparent;
						}
					}

					td {
						padding: 0;
						font-size: 0;

						error-list {
							margin: 0;
						}

						text-input {
							margin: 0 2px 0 0;
							display: block;

							&.short {
								max-width: $input-length-short;
							}
						}

						drop-down-list {
							z-index: 2;
						}

						icon-button {
							margin-bottom: -1px;
							--highlight-color: #505050;
						}

						.label {
							margin: 0;
							display: -webkit-box;
							overflow-wrap: anywhere;
							line-break: anywhere;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.protocol {
							font-weight: 600;
						}
					}
				}

				#create-port {
					display: block;
					z-index: 1;
					margin-top: 3px;
					margin-bottom: 7px;
					width: 190px;

					--font-size: 13px;
					--height: 30px;
				}
			}

			#create-dev-token-error {
				margin-top: 7px;
				padding: 0 4px;

				color: red;
				font-size: 10px;
				font-family: consts.$open-sans;
				font-weight: bolder;

				e-svg {
					--fill: red;
					width: 1.4em;
					height: 1.4em;
					vertical-align: -3px;
					margin-right: 2px;
				}
			}
		}

		stylized-button {
			margin-top: 8px;
			width: 100%;
			max-width: 200px;
			--padding: 0 35px;
		}
	}
}
