@use '../../../../shared/common';
@use '../../../../shared/consts';
@use '../../../../shared/utils';

.dashed-border-button {
	background-image: utils.dashed-border(
		rgba(255, 255, 255, 1),
		0,
		2,
		$dash-array: (5, 11),
		$dash-offset: 2px
	);

	height: 4.25rem;

	&:hover {
		transform: translateY(-2px);
	}

	@include common.active-state();
}

#create-namespace-modal {
	[slot='body'] {
		h1 {
			margin-bottom: 0;

			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: consts.$open-sans;
		}

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 12px;

			h2 {
				margin: 14px 0 2px 0;

				font-size: 10px;
				font-weight: bold;
				font-family: consts.$open-sans;
				text-transform: uppercase;
			}

			#create-namespace-error {
				max-width: 210px;
				margin-top: 7px;
				padding: 0 4px;

				color: red;
				font-size: 10px;
				font-family: consts.$open-sans;
				font-weight: bolder;

				e-svg {
					--fill: red;
					width: 1.4em;
					height: 1.4em;
					vertical-align: -3px;
					margin-right: 2px;
				}
			}
		}
	}
}
