@use '../../../../shared/common';
@use '../../../../shared/utils';
@use '../../../../shared/consts';

$sidebar-width: 200px;
$sidebar-padding: 15px;

#base {
	display: flex;
	flex-direction: row;

	&.no-lobbies {
		flex-direction: column;
		align-items: center;
	}

	.muted-text {
		color: #ececec80;
		font-size: 14px;
		text-align: center;
	}

	#sidebar {
		position: relative;
		top: 0;
		width: $sidebar-width;
		z-index: 1;
		box-sizing: border-box;
		flex: 0 0 auto;

		padding: 8px 2px 8px 8px;
		margin: -8px;
		margin-right: $sidebar-padding;
		overflow: auto;
	}

	#body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-width: 0;

		& > loading-placeholder {
			height: 500px;
		}

		.bordered-area {
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			.bordered-area-header {
				display: flex;
				flex-direction: column;
				box-sizing: border-box;
				padding: 5px;
				background: #2a2a2a;

				.content-header {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					color: #ececec;

					.content-header-left {
						padding: 6px 0 0 12px;
						max-width: 65%;
						margin: 0 5px 2px 0;

						.content-header-title {
							font-size: 24px;
							margin: 0;
							display: -webkit-box;
							line-break: anywhere;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}

			.bordered-area-body {
				display: flex;
				position: relative;
				flex-direction: column;
				box-sizing: border-box;
				border: 5px solid $raised-bg;
				border-top: none;
				padding: 6px 2px 2px 6px;

				&.horizontal {
					padding: 0;
					flex-direction: row;

					.body-cell {
						flex: 1 0 0;
						padding: 6px 2px 2px 6px;
					}

					.body-separator {
						width: 5px;
						background-color: $raised-bg;
					}
				}
			}
		}

		#log {
			.bordered-area-header {
				.content-header {
					.content-header-left {
						#log-region {
							display: flex;
							flex-direction: row;
							align-items: center;

							margin: 0;
							font-size: 16px;
							color: #ecececec;

							e-svg {
								margin-right: 8px;
							}
						}

						#log-time {
							margin: 6px 0 0 0;
							font-size: 12px;
							color: #ececec80;

							e-svg {
								--fill: #ececec80;
								margin-bottom: 1px;
							}
						}
					}

					#header-right {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						padding: 12px 8px 0 0;

						#log-status {
							padding: 3px 6px;
							font-size: 12px;
							font-weight: 600;
							background-color: #5f6368;

							&.active {
								background: #25ba81;
							}

							&.failed {
								background: #bb2532;
							}
						}

						#log-exit-code {
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							justify-content: flex-end;
							font-size: 10px;
							margin-top: 12px;

							& > b {
								margin: 0 2px 0 3px;
							}

							#log-exit-code-fancy {
								margin-left: 4px;
								background: rgba(0, 0, 0, 0.3);
								padding: 2px 6px;
								font-weight: 700;
								text-align: right;
							}
						}

						#toggle-waterfall {
							margin-top: 6px;
							background-color: $raised-bg;
							--padding: 3px;
							--size: 17px;
							transition: background-color consts.$transition-length;

							&.active {
								background-color: rgba(255, 255, 255, 0.2);
							}
						}
					}
				}
			}

			.bordered-area-body {
				height: 600px;

				#log-loading {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

				#log-actions {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;

					#actions-left {
						display: flex;
						flex-direction: row;
						align-items: stretch;
					}

					#actions-right {
						margin: 0 4px 0 7px;
						display: flex;
						flex-direction: row;
						align-items: stretch;

						#page-indicator {
							display: flex;
							align-items: center;
							margin-right: 8px;

							h4 {
								margin: -4px 0 0 0;
								font-size: 15px;
								color: #ecececaa;
							}
						}
					}

					.action {
						display: flex;
						align-items: center;
						box-sizing: border-box;
						padding: 5px 10px;
						margin-right: 7px;
						font-size: 12px;
						font-weight: 700;
						border: 2px solid rgba(255, 255, 255, 0.15);
						color: #ecececaa;

						&.segment-left {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							margin-right: 0;
							border-right: 0;
						}

						&.segment-right {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
							margin-left: 0;
							border-left: 0;
						}

						&:not(.disabled) {
							cursor: pointer;
							@include common.active-state();
						}

						&:last-child {
							margin-right: 0;
						}

						&.selected {
							border: none;
							padding: 7px 12px;
							background: rgba(255, 255, 255, 0.15);
							color: #ececec;
						}

						&.error {
							&:not(.selected) {
								color: rgb(255, 184, 184);
							}

							&.selected {
								background: rgba(187, 37, 50, 0.4);
							}
						}

						&.load-more {
							background: rgba(37, 107, 187, 0.6);
							border: none;
							padding: 7px 12px;
							color: #ececec;

							&.selected {
								background: rgba(37, 107, 187, 0.6);
							}
						}

						&.next,
						&.previous {
							background: rgba(255, 255, 255, 0.15);
							border: none;
							padding: 0;

							--padding: 0px;
							--full-padding: 7px 12px;
							--size: 14px;
							--box-sizing: padding-box;

							&.disabled {
								background: rgba(255, 255, 255, 0.15 * 0.5);
							}
						}
					}
				}

				#log-content {
					margin-top: 6px;

					display: none;
					color: #ecececec;
					overflow: auto;
					white-space: pre;
					// overflow-wrap: anywhere;

					@include utils.enable-user-select();

					width: 0;
					opacity: 0;

					&.active {
						display: block;
						flex: 1 1 auto;
						position: relative;
						top: unset;
						max-height: unset;
						padding: 6px 4px 2px 6px;
						width: unset;
						opacity: unset;
					}
				}
			}
		}

		#metrics {
			.bordered-area-header {
				padding-bottom: 7px;

				.content-header {
					.content-header-left {
						max-width: unset;

						.content-header-title {
							margin-bottom: 4px;
						}

						#legend {
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							margin: -3px;

							.key {
								display: flex;
								flex-direction: row;
								align-items: center;
								margin: 3px 12px 3px 3px;

								&:last-child {
									margin-right: 3px;
								}

								&.cpu {
									.color {
										background-color: turquoise;
									}
								}
								&.memory {
									.color {
										background-color: #00bb33;
									}
								}
								&.memory-max {
									.color {
										background-color: orange;
									}
								}

								.color {
									flex: 0 0 auto;
									width: 13px;
									height: 13px;
									margin-right: 4px;
								}

								span {
									font-size: 12px;
									font-weight: 600;

									b {
										font-weight: 700;
									}
								}
							}
						}
					}
				}
			}

			.bordered-area-body {
				.body-cell {
					padding: 10px 8px 10px 14px;
				}
			}
		}
	}
}

@media only screen and (max-width: consts.$mobile-width-threshold) {
	#base {
		display: flex;
		flex-direction: column;
		align-items: center;

		#sidebar {
			width: 100%;
			max-width: 300px;
			margin: 0;
			padding: 8px;
		}

		#body {
			max-width: unset;
		}
	}
}
