@use '../../shared/common';
@use '../../shared/consts';

$grid-padding: 6px;

#base {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	&.stats {
		display: flex;
		flex-flow: row wrap;

		padding: 0;
		background-color: unset;
		border-radius: 0;
		box-shadow: none;
		overflow: unset;

		margin: -$grid-padding;

		.stat {
			display: flex;
			flex-direction: column;
			margin: $grid-padding;

			padding: 8px 20px 6px 18px;

			background-color: $raised-bg;
			border-radius: 6px;
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);

			.title {
				margin: 0;
				padding: 0;
				text-align: left;
				font-size: 16px;
				font-weight: 600;
				color: #ececec80;
			}

			.value {
				margin: 0;
				font-size: 48px;
				font-weight: 700;
			}
		}
	}

	#title {
		padding-left: 0 40px;
		margin-bottom: 24px;
		font-weight: 600;
		font-size: 18px;
		text-align: left;
	}

	#list {
		height: 400px;
		overflow-y: auto;
		box-sizing: border-box;
		padding: 8px 12px 4px 12px;

		table {
			width: 100%;
			border-collapse: separate;
			border-spacing: 0 10px;

			h2 {
				margin: 0 10px 0 0;
				font-size: 16px;
				font-weight: 600;
				color: #ececec;

				@include common.multi-line-wrap(2);
			}

			.bar {
				background-color: $raised-bg;
				width: 50%;
				height: 25px;
				min-width: 0;
				padding: 0;
				border-radius: 6px;
				overflow: hidden;

				.inner-bar {
					height: 100%;
					background: $main-accent;
				}
			}

			.value {
				text-align: right;
				margin: 0 0 0 10px;
				font-size: 20px;
				font-weight: 600;
				color: #ececec;
			}
		}
	}

	#canvas-holder {
		position: relative;
		width: 100%;
		height: 400px;
	}
}

@media only screen and (max-width: 1650px) {
	#base {
		#canvas-holder {
			width: unset;
		}
	}
}
