@use '../shared/common';
@use '../shared/utils';
@use '../shared/consts';

:host {
	width: consts.$sidebar-width;
}

#base {
	height: 100%;

	#scroller {
		left: 0;
		top: 0;
		height: 100%;

		padding: 25px 48px 30px 52px;
		box-sizing: border-box;

		overflow-y: scroll;

		#main-logo {
			width: 100%;
			height: 28px;
			padding: 15px 0;

			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.logo-icon {
				width: 32px;
				height: 32px;
			}

			@include common.active-state;
		}

		identity-status-controller,
		registration-banner {
			display: block;
			margin-bottom: 35px;
		}

		identity-status-controller ~ registration-banner {
			display: block;
			margin-top: -15px;
			margin-bottom: 20px;
		}

		#social-header {
			margin-bottom: 10px;
			display: block;

			#social-title {
				display: flex;
				flex-direction: row;
				align-items: center;

				h1 {
					margin: 0;
					font-size: inherit;
					font-weight: inherit;
				}

				stylized-button {
					margin-left: 10px;
					--padding: 0 6px 0 8px;
					--icon-margin: 0 3px 0 0;
				}
			}
		}

		social-sidebar-button {
			display: block;
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}

			.sidebar-button-title {
				position: relative;
				margin: 0;

				color: #c7c7c7;
				font-size: 14px;
				font-weight: 600;
				transition: consts.$transition-length color;

				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&.thread {
					color: #e6e6e6;
				}
			}

			.sidebar-button-subtitle {
				display: flex;
				flex-direction: row;
				position: relative;
				margin: 1px 0 0 0;

				font-size: 14px;
				font-weight: 500;

				@include common.multi-line-wrap(2);

				.message-prefix {
					color: #ecececb0;
					--color: #ecececb0;
					font-size: 14px;
					font-family: consts.$open-sans;
					font-weight: 600;
				}

				.message-body {
					white-space: normal;
					line-break: normal;

					.identity {
						display: inline-flex;
						flex-direction: row;
						align-items: center;
						opacity: 0.65;

						// Hide identity icons in sidebar
						identity-avatar {
							display: none;
						}
					}

					stylized-button,
					icon-button {
						display: none;
					}
				}

				.message-body,
				rich-text {
					color: #ecececa5;

					pointer-events: none;
				}

				rich-text {
					display: block;
					position: relative;
					color: #ececec;
					--content-opacity: 0.65;
				}
			}
		}
	}

	#chat-list {
		#error {
			text-align: center;
			opacity: 0.7;
		}

		.placeholder {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $gray;
			border-radius: 100%;

			font-size: 12px;
			font-weight: 600;
			overflow: hidden;
		}

		// Center collages
		.centered {
			left: 0;
			width: 52px;
			display: flex;
			justify-content: center;
		}

		.game-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $gray;
			border-radius: 100%;

			lazy-img {
				width: 80%;
				height: 80%;
			}

			e-svg {
				width: 70%;
				height: 70%;
			}
		}
	}

	#no-chats {
		position: relative;
		left: 16px;
		width: calc(100% - 32px);
		margin-top: 15px;

		background: rgba(255, 255, 255, 0.05);
		border-radius: 15px;
		padding: 8px 15px 10px 15px;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		align-items: center;

		#icon {
			width: 100px;
			height: 100px;
			opacity: 0.1;
			image-rendering: -webkit-optimize-contrast;
		}

		p {
			text-align: center;
			color: rgba(255, 255, 255, 0.25);
			margin: 15px 0;

			a {
				color: #3261c8;
				font-weight: 600;

				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		stylized-button {
			margin-bottom: 8px;
		}
	}
}
