@use '../shared/common';

@keyframes modal-drop {
	0% {
		transform: perspective(200px) rotateX(0.8deg) translateY(-12px);
	}
	100% {
		transform: perspective(200px) rotateX(0deg) translateY(0);
	}
}

@keyframes modal-out {
	0% {
		transform: perspective(200px) rotateX(0deg) translateY(0);
	}
	100% {
		transform: perspective(200px) rotateX(0.8deg) translateY(-16px);
	}
}

@keyframes modal-drop-large {
	0% {
		transform: perspective(200px) rotateX(0.4deg) translateY(-20px);
	}
	100% {
		transform: perspective(200px) rotateX(0deg) translateY(0);
	}
}

@keyframes modal-out-large {
	0% {
		transform: perspective(200px) rotateX(0deg) translateY(0);
	}
	100% {
		transform: perspective(200px) rotateX(0.3deg) translateY(-24px);
	}
}

@keyframes modal-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#base {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	flex-direction: row;
	z-index: 5;

	animation: modal-fade 0.3s both;

	&.open {
		display: flex;
	}

	&.closing {
		animation-direction: reverse;

		#animation {
			animation-name: modal-out;
		}
	}

	&.large {
		#animation {
			animation-name: modal-drop-large;
		}

		&.closing {
			#animation {
				animation-name: modal-out-large;
			}
		}
	}

	#close {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.45);
		cursor: default;
	}

	[name='body']::slotted(*) {
		z-index: 1;
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
	}

	#animation {
		animation: modal-drop 0.2s both ease-in-out;
	}
}
